In [3]:
import pandas as pd

In [4]:
pip install streamlit pandas scikit-learn

Requirement already satisfied: streamlit in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (1.44.1)
Requirement already satisfied: pandas in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: scikit-learn in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (1.6.0)
Requirement already satisfied: altair<6,>=4.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (8.1.8)
Requirement already satisfied: numpy<3,>=1.23 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (2.2.4)
Requirement already satisfied: packaging<25,>=20 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (24.2)
Requirement already satisfied: pillow<12,>=7.1.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (11.0.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (5.29.4)
Requirement already satisfied: pyarrow>=7.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (19.0.1)
Requirement already satisfied: requests<3,>=2.27 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (4.13.0)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (3.1.44)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\lai29\appdata\roaming\python\python313\site-packages (from streamlit) (6.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: jinja2 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.5)
Requirement already satisfied: jsonschema>=3.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from altair<6,>=4.0->streamlit) (1.33.0)
Requirement already satisfied: colorama in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: six>=1.5 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (2025.1.31)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.21.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install streamlit

Requirement already satisfied: streamlit in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (1.44.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: altair<6,>=4.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (8.1.8)
Requirement already satisfied: numpy<3,>=1.23 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (2.2.4)
Requirement already satisfied: packaging<25,>=20 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (24.2)
Requirement already satisfied: pandas<3,>=1.4.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (2.2.3)
Requirement already satisfied: pillow<12,>=7.1.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (11.0.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (5.29.4)
Requirement already satisfied: pyarrow>=7.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (19.0.1)
Requirement already satisfied: requests<3,>=2.27 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (4.13.0)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (3.1.44)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\lai29\appdata\roaming\python\python313\site-packages (from streamlit) (6.4.1)
Requirement already satisfied: jinja2 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.5)
Requirement already satisfied: jsonschema>=3.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from altair<6,>=4.0->streamlit) (1.33.0)
Requirement already satisfied: colorama in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (2025.1.31)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.21.0)
Requirement already satisfied: six>=1.5 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)

In [6]:
# import torch  # PyTorch for deep learning operations
# import transformers  # Hugging Face Transformers library for pre-trained models


import numpy as np  # NumPy for numerical computations
import pandas as pd  # Pandas for data manipulation and analysis

import nltk  # Natural Language Toolkit for text processing tasks
from nltk.tokenize import word_tokenize, sent_tokenize
from collections import Counter  # For counting word frequencies
import re  # Regular expressions for text cleaning and pattern matching
from transformers import (
    AutoModelForSequenceClassification,  # Example model for classification
    AutoTokenizer,  # Tokenizer for pre-trained modelsb
    TrainingArguments,  # Configuration for training
    Trainer,  # Training loop and evaluation
)
from sklearn.metrics import accuracy_score, precision_recall_fscore_support  # Evaluation metrics

c:\Users\lai29\AppData\Local\Programs\Python\Python313\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [7]:
# pip install transformers

In [8]:
#pip install torch torchvision torchaudio

In [9]:
# !pip install --force-reinstall transformers==4.31.0
# !pip install --force-reinstall datasets==2.12.0

In [10]:
wnba_data = pd.read_csv('wnba_data.csv')
wnba_data.head()

,Player,Team,Pos,G,MP,G.1,GS,MP.1,FG,FGA,...,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Natalie Achonwa,MIN,F,22,332,22,0,15.1,2.1,4.1,...,1.2,0.815,1.1,4.1,1.7,0.4,0.3,1.0,1.6,5.3
1,Julie Allemand,CHI,G,25,402,25,4,16.1,1.0,2.4,...,0.7,0.833,0.4,1.6,3.4,0.6,0.1,1.3,0.9,3.0
2,Lindsay Allen,MIN,G,9,134,9,0,14.9,2.2,4.2,...,1.4,0.923,0.0,1.6,3.4,0.2,0.0,0.8,1.2,6.7
3,Rebecca Allen,NYL,G,25,523,25,19,20.9,2.6,6.8,...,1.0,0.833,0.3,3.4,1.2,0.8,1.0,1.0,1.9,7.0
4,Yvonne Anderson,CON,G,11,101,11,0,9.2,1.1,2.4,...,0.6,1.000,0.3,0.8,1.1,0.3,0.2,1.0,1.3,3.2

In [11]:
nba_data = pd.read_csv('nba_regular_season.csv', encoding='latin-1', delimiter=";")
nba_data.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF-C,24,TOT,74,18,21.9,3.2,6.3,...,0.616,2.6,4.0,6.6,1.3,0.6,0.9,1.1,1.9,7.6
1,1,Precious Achiuwa,C,24,TOR,25,0,17.5,3.1,6.8,...,0.571,2.0,3.4,5.4,1.8,0.6,0.5,1.2,1.6,7.7
2,1,Precious Achiuwa,PF,24,NYK,49,18,24.2,3.2,6.1,...,0.643,2.9,4.3,7.2,1.1,0.6,1.1,1.1,2.1,7.6
3,2,Bam Adebayo,C,26,MIA,71,71,34.0,7.5,14.3,...,0.755,2.2,8.1,10.4,3.9,1.1,0.9,2.3,2.2,19.3
4,3,Ochai Agbaji,SG,23,TOT,78,28,21.0,2.3,5.6,...,0.661,0.9,1.8,2.8,1.1,0.6,0.6,0.8,1.5,5.8

In [12]:
import pandas as pd

# Define the data as a list of lists
wnba_teams = [
    ['Atlanta', 'Atl', 'Atlanta Dream', 'Georgia'],
    ['Chicago', 'Chi', 'Chicago Sky', 'Illinois'],
    ['Connecticut', 'Con', 'Connecticut Sun', 'Connecticut'],
    ['Dallas', 'Dal', 'Dallas Wings', 'Texas'],
    ['San Francisco', 'Hou', 'Golden State Valkyries', 'California'],
    ['Indiana', 'Ind', 'Indiana Fever', 'Indiana'],
    ['Las Vegas', 'LV', 'Las Vegas Aces', 'Nevada'],
    ['Los Angeles', 'LA', 'Los Angeles Sparks', 'California'],
    ['Minnesota', 'Min', 'Minnesota Lynx', 'Minnesota'],
    ['New York', 'NYL', 'New York Liberty', 'New York'],
    ['Phoenix', 'Phx', 'Phoenix Mercury', 'Arizona'],
    ['Washington', 'Wsh', 'Washington Mystics', 'District of Columbia']
]

# Create a Pandas DataFrame
wnba_df = pd.DataFrame(wnba_teams, columns=['City', 'Team', 'Team Name', 'State/Province'])

# Display the table
wnba_df

             City Team               Team Name        State/Province
0         Atlanta  Atl           Atlanta Dream               Georgia
1         Chicago  Chi             Chicago Sky              Illinois
2     Connecticut  Con         Connecticut Sun           Connecticut
3          Dallas  Dal            Dallas Wings                 Texas
4   San Francisco  Hou  Golden State Valkyries            California
5         Indiana  Ind           Indiana Fever               Indiana
6       Las Vegas   LV          Las Vegas Aces                Nevada
7     Los Angeles   LA      Los Angeles Sparks            California
8       Minnesota  Min          Minnesota Lynx             Minnesota
9        New York  NYL        New York Liberty              New York
10        Phoenix  Phx         Phoenix Mercury               Arizona
11     Washington  Wsh      Washington Mystics  District of Columbia

In [13]:
wnba_df['Team'] = wnba_df['Team'].str.upper()
wnba_df

             City Team               Team Name        State/Province
0         Atlanta  ATL           Atlanta Dream               Georgia
1         Chicago  CHI             Chicago Sky              Illinois
2     Connecticut  CON         Connecticut Sun           Connecticut
3          Dallas  DAL            Dallas Wings                 Texas
4   San Francisco  HOU  Golden State Valkyries            California
5         Indiana  IND           Indiana Fever               Indiana
6       Las Vegas   LV          Las Vegas Aces                Nevada
7     Los Angeles   LA      Los Angeles Sparks            California
8       Minnesota  MIN          Minnesota Lynx             Minnesota
9        New York  NYL        New York Liberty              New York
10        Phoenix  PHX         Phoenix Mercury               Arizona
11     Washington  WSH      Washington Mystics  District of Columbia

In [14]:

merged_df = pd.merge(wnba_data, wnba_df , left_on='Team', right_on='Team')
merged_df

,Player,Team,Pos,G,MP,G.1,GS,MP.1,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,City,Team Name,State/Province
0,Natalie Achonwa,MIN,F,22,332,22,0,15.1,2.1,4.1,...,4.1,1.7,0.4,0.3,1.0,1.6,5.3,Minnesota,Minnesota Lynx,Minnesota
1,Julie Allemand,CHI,G,25,402,25,4,16.1,1.0,2.4,...,1.6,3.4,0.6,0.1,1.3,0.9,3.0,Chicago,Chicago Sky,Illinois
2,Lindsay Allen,MIN,G,9,134,9,0,14.9,2.2,4.2,...,1.6,3.4,0.2,0.0,0.8,1.2,6.7,Minnesota,Minnesota Lynx,Minnesota
3,Rebecca Allen,NYL,G,25,523,25,19,20.9,2.6,6.8,...,3.4,1.2,0.8,1.0,1.0,1.9,7.0,New York,New York Liberty,New York
4,Yvonne Anderson,CON,G,11,101,11,0,9.2,1.1,2.4,...,0.8,1.1,0.3,0.2,1.0,1.3,3.2,Connecticut,Connecticut Sun,Connecticut
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,Layshia Clarendon,CON,G,15,238,15,0,15.9,2.1,4.2,...,1.6,2.7,0.5,0.0,0.9,1.1,5.4,Connecticut,Connecticut Sun,Connecticut
495,Tayler Hill,DAL,G,7,118,7,1,16.9,1.9,6.4,...,1.0,1.0,0.1,0.1,0.9,0.3,5.0,Dallas,Dallas Wings,Texas
496,Maggie Lucas,DAL,G,1,20,1,0,20.0,0.0,5.0,...,0.0,0.0,2.0,0.0,1.0,0.0,0.0,Dallas,Dallas Wings,Texas
497,Teana Muldrow,DAL,F,1,3,1,0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Dallas,Dallas Wings,Texas
498,Cappie Pondexter,IND,G,17,411,17,14,24.2,4.1,10.6,...,2.4,2.6,0.7,0.0,1.4,1.8,10.2,Indiana,Indiana Fever,Indiana

In [15]:
# merged_df_dropped = merged_df.drop(columns=['Abbreviation'])
# merged_df_dropped.head()
# merged_df_dropped.shape

In [16]:
merged_df_dropped = merged_df.rename(columns={'Team_y': 'Team Name'})

In [17]:
import pandas as pd

data = {
    "Team Name": [
        "Atlanta Hawks", "Boston Celtics", "Brooklyn Nets", "Charlotte Hornets", "Chicago Bulls",
        "Cleveland Cavaliers", "Dallas Mavericks", "Denver Nuggets", "Detroit Pistons", "Golden State Warriors",
        "Houston Rockets", "Indiana Pacers", "Los Angeles Clippers", "Los Angeles Lakers", "Memphis Grizzlies",
        "Miami Heat", "Milwaukee Bucks", "Minnesota Timberwolves", "New Orleans Pelicans", "New York Knicks",
        "Oklahoma City Thunder", "Orlando Magic", "Philadelphia 76ers", "Phoenix Suns", "Portland Trail Blazers",
        "Sacramento Kings", "San Antonio Spurs", "Toronto Raptors", "Utah Jazz", "Washington Wizards"
    ],
    "Abbreviation": [
        "ATL", "BOS", "BKN", "CHA", "CHI", "CLE", "DAL", "DEN", "DET", "GSW",
        "HOU", "IND", "LAC", "LAL", "MEM", "MIA", "MIL", "MIN", "NOP", "NYK",
        "OKC", "ORL", "PHI", "PHX", "POR", "SAC", "SAS", "TOR", "UTA", "WAS"
    ],
    "City": [
        "Atlanta", "Boston", "Brooklyn", "Charlotte", "Chicago", "Cleveland", "Dallas", "Denver", "Detroit", "San Francisco",
        "Houston", "Indianapolis", "Los Angeles", "Los Angeles", "Memphis", "Miami", "Milwaukee", "Minneapolis",
        "New Orleans", "New York City", "Oklahoma City", "Orlando", "Philadelphia", "Phoenix", "Portland",
        "Sacramento", "San Antonio", "Toronto", "Salt Lake City", "Washington"
    ],
    "State/Province": [
        "Georgia", "Massachusetts", "New York", "North Carolina", "Illinois", "Ohio", "Texas", "Colorado", "Michigan", "California",
        "Texas", "Indiana", "California", "California", "Tennessee", "Florida", "Wisconsin", "Minnesota",
        "Louisiana", "New York", "Oklahoma", "Florida", "Pennsylvania", "Arizona", "Oregon",
        "California", "Texas", "Ontario", "Utah", "District of Columbia"
    ]
}


# Create the DataFrame
nba_teams_df = pd.DataFrame(data)

# Display the DataFrame
print(nba_teams_df)

                 Team Name Abbreviation            City        State/Province
0            Atlanta Hawks          ATL         Atlanta               Georgia
1           Boston Celtics          BOS          Boston         Massachusetts
2            Brooklyn Nets          BKN        Brooklyn              New York
3        Charlotte Hornets          CHA       Charlotte        North Carolina
4            Chicago Bulls          CHI         Chicago              Illinois
5      Cleveland Cavaliers          CLE       Cleveland                  Ohio
6         Dallas Mavericks          DAL          Dallas                 Texas
7           Denver Nuggets          DEN          Denver              Colorado
8          Detroit Pistons          DET         Detroit              Michigan
9    Golden State Warriors          GSW   San Francisco            California
10         Houston Rockets          HOU         Houston                 Texas
11          Indiana Pacers          IND    Indianapolis               Indiana
12    Los Angeles Clippers          LAC     Los Angeles            California
13      Los Angeles Lakers          LAL     Los Angeles            California
14       Memphis Grizzlies          MEM         Memphis             Tennessee
15              Miami Heat          MIA           Miami               Florida
16         Milwaukee Bucks          MIL       Milwaukee             Wisconsin
17  Minnesota Timberwolves          MIN     Minneapolis             Minnesota
18    New Orleans Pelicans          NOP     New Orleans             Louisiana
19         New York Knicks          NYK   New York City              New York
20   Oklahoma City Thunder          OKC   Oklahoma City              Oklahoma
21           Orlando Magic          ORL         Orlando               Florida
22      Philadelphia 76ers          PHI    Philadelphia          Pennsylvania
23            Phoenix Suns          PHX         Phoenix               Arizona
24  Portland Trail Blazers          POR        Portland                Oregon
25        Sacramento Kings          SAC      Sacramento            California
26       San Antonio Spurs          SAS     San Antonio                 Texas
27         Toronto Raptors          TOR         Toronto               Ontario
28               Utah Jazz          UTA  Salt Lake City                  Utah
29      Washington Wizards          WAS      Washington  District of Columbia

In [18]:
nba_merge = pd.merge(nba_data, nba_teams_df, left_on='Tm', right_on='Abbreviation', how='left')
nba_merge.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,AST,STL,BLK,TOV,PF,PTS,Team Name,Abbreviation,City,State/Province
0,1,Precious Achiuwa,PF-C,24,TOT,74,18,21.9,3.2,6.3,...,1.3,0.6,0.9,1.1,1.9,7.6,NaN,NaN,NaN,NaN
1,1,Precious Achiuwa,C,24,TOR,25,0,17.5,3.1,6.8,...,1.8,0.6,0.5,1.2,1.6,7.7,Toronto Raptors,TOR,Toronto,Ontario
2,1,Precious Achiuwa,PF,24,NYK,49,18,24.2,3.2,6.1,...,1.1,0.6,1.1,1.1,2.1,7.6,New York Knicks,NYK,New York City,New York
3,2,Bam Adebayo,C,26,MIA,71,71,34.0,7.5,14.3,...,3.9,1.1,0.9,2.3,2.2,19.3,Miami Heat,MIA,Miami,Florida
4,3,Ochai Agbaji,SG,23,TOT,78,28,21.0,2.3,5.6,...,1.1,0.6,0.6,0.8,1.5,5.8,NaN,NaN,NaN,NaN

In [19]:
nba_merged_dropped = nba_merge.drop(columns=['Abbreviation','Rk', 'Age','eFG%','DRB'])
nba_merged_dropped.head()

,Player,Pos,Tm,G,GS,MP,FG,FGA,FG%,3P,...,TRB,AST,STL,BLK,TOV,PF,PTS,Team Name,City,State/Province
0,Precious Achiuwa,PF-C,TOT,74,18,21.9,3.2,6.3,0.501,0.4,...,6.6,1.3,0.6,0.9,1.1,1.9,7.6,NaN,NaN,NaN
1,Precious Achiuwa,C,TOR,25,0,17.5,3.1,6.8,0.459,0.5,...,5.4,1.8,0.6,0.5,1.2,1.6,7.7,Toronto Raptors,Toronto,Ontario
2,Precious Achiuwa,PF,NYK,49,18,24.2,3.2,6.1,0.525,0.3,...,7.2,1.1,0.6,1.1,1.1,2.1,7.6,New York Knicks,New York City,New York
3,Bam Adebayo,C,MIA,71,71,34.0,7.5,14.3,0.521,0.2,...,10.4,3.9,1.1,0.9,2.3,2.2,19.3,Miami Heat,Miami,Florida
4,Ochai Agbaji,SG,TOT,78,28,21.0,2.3,5.6,0.411,0.8,...,2.8,1.1,0.6,0.6,0.8,1.5,5.8,NaN,NaN,NaN

In [20]:
print(merged_df.shape)
print(nba_merged_dropped.shape)

(499, 31)
(735, 29)

In [21]:
print(merged_df_dropped.head())
print(nba_merged_dropped.head())

            Player Team Pos   G   MP  G.1  GS  MP.1   FG  FGA  ...  TRB  AST  \
0  Natalie Achonwa  MIN   F  22  332   22   0  15.1  2.1  4.1  ...  4.1  1.7
1   Julie Allemand  CHI   G  25  402   25   4  16.1  1.0  2.4  ...  1.6  3.4
2    Lindsay Allen  MIN   G   9  134    9   0  14.9  2.2  4.2  ...  1.6  3.4
3    Rebecca Allen  NYL   G  25  523   25  19  20.9  2.6  6.8  ...  3.4  1.2
4  Yvonne Anderson  CON   G  11  101   11   0   9.2  1.1  2.4  ...  0.8  1.1

   STL  BLK  TOV   PF  PTS         City         Team Name  State/Province
0  0.4  0.3  1.0  1.6  5.3    Minnesota    Minnesota Lynx       Minnesota
1  0.6  0.1  1.3  0.9  3.0      Chicago       Chicago Sky        Illinois
2  0.2  0.0  0.8  1.2  6.7    Minnesota    Minnesota Lynx       Minnesota
3  0.8  1.0  1.0  1.9  7.0     New York  New York Liberty        New York
4  0.3  0.2  1.0  1.3  3.2  Connecticut   Connecticut Sun     Connecticut

[5 rows x 31 columns]
             Player   Pos   Tm   G  GS    MP   FG   FGA    FG%   3P  ...  \
0  Precious Achiuwa  PF-C  TOT  74  18  21.9  3.2   6.3  0.501  0.4  ...
1  Precious Achiuwa     C  TOR  25   0  17.5  3.1   6.8  0.459  0.5  ...
2  Precious Achiuwa    PF  NYK  49  18  24.2  3.2   6.1  0.525  0.3  ...
3       Bam Adebayo     C  MIA  71  71  34.0  7.5  14.3  0.521  0.2  ...
4      Ochai Agbaji    SG  TOT  78  28  21.0  2.3   5.6  0.411  0.8  ...

    TRB  AST  STL  BLK  TOV   PF   PTS        Team Name           City  \
0   6.6  1.3  0.6  0.9  1.1  1.9   7.6              NaN            NaN
1   5.4  1.8  0.6  0.5  1.2  1.6   7.7  Toronto Raptors        Toronto
2   7.2  1.1  0.6  1.1  1.1  2.1   7.6  New York Knicks  New York City
3  10.4  3.9  1.1  0.9  2.3  2.2  19.3       Miami Heat          Miami
4   2.8  1.1  0.6  0.6  0.8  1.5   5.8              NaN            NaN

   State/Province
0             NaN
1         Ontario
2        New York
3         Florida
4             NaN

[5 rows x 29 columns]

In [22]:
merged_df_dropped.columns.to_list()

['Player',
 'Team',
 'Pos',
 'G',
 'MP',
 'G.1',
 'GS',
 'MP.1',
 'FG',
 'FGA',
 'FG%',
 '3P',
 '3PA',
 '3P%',
 '2P',
 '2PA',
 '2P%',
 'FT',
 'FTA',
 'FT%',
 'ORB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'City',
 'Team Name',
 'State/Province']

In [23]:
nba_merged_dropped = nba_merged_dropped.rename(columns={'Tm': 'Team',})
nba_merged_dropped.head()

merged_df.head()

# merged_df_dropped = merged_df.drop(columns=['Abbreviation','Team_y', 'G.1','MP.1'])
# merged_df_dropped.head()

merged_df_dropped = merged_df_dropped.rename(columns={'Team_x': 'Team','Team_Start': 'Team Name' })
merged_df_dropped.head()

display(merged_df_dropped)

combined_df = pd.concat([merged_df_dropped, nba_merged_dropped], axis=0)
combined_df.head()

,Player,Team,Pos,G,MP,G.1,GS,MP.1,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,City,Team Name,State/Province
0,Natalie Achonwa,MIN,F,22,332,22,0,15.1,2.1,4.1,...,4.1,1.7,0.4,0.3,1.0,1.6,5.3,Minnesota,Minnesota Lynx,Minnesota
1,Julie Allemand,CHI,G,25,402,25,4,16.1,1.0,2.4,...,1.6,3.4,0.6,0.1,1.3,0.9,3.0,Chicago,Chicago Sky,Illinois
2,Lindsay Allen,MIN,G,9,134,9,0,14.9,2.2,4.2,...,1.6,3.4,0.2,0.0,0.8,1.2,6.7,Minnesota,Minnesota Lynx,Minnesota
3,Rebecca Allen,NYL,G,25,523,25,19,20.9,2.6,6.8,...,3.4,1.2,0.8,1.0,1.0,1.9,7.0,New York,New York Liberty,New York
4,Yvonne Anderson,CON,G,11,101,11,0,9.2,1.1,2.4,...,0.8,1.1,0.3,0.2,1.0,1.3,3.2,Connecticut,Connecticut Sun,Connecticut
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,Layshia Clarendon,CON,G,15,238,15,0,15.9,2.1,4.2,...,1.6,2.7,0.5,0.0,0.9,1.1,5.4,Connecticut,Connecticut Sun,Connecticut
495,Tayler Hill,DAL,G,7,118,7,1,16.9,1.9,6.4,...,1.0,1.0,0.1,0.1,0.9,0.3,5.0,Dallas,Dallas Wings,Texas
496,Maggie Lucas,DAL,G,1,20,1,0,20.0,0.0,5.0,...,0.0,0.0,2.0,0.0,1.0,0.0,0.0,Dallas,Dallas Wings,Texas
497,Teana Muldrow,DAL,F,1,3,1,0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Dallas,Dallas Wings,Texas
498,Cappie Pondexter,IND,G,17,411,17,14,24.2,4.1,10.6,...,2.4,2.6,0.7,0.0,1.4,1.8,10.2,Indiana,Indiana Fever,Indiana

,Player,Team,Pos,G,MP,G.1,GS,MP.1,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,City,Team Name,State/Province
0,Natalie Achonwa,MIN,F,22,332.0,22.0,0,15.1,2.1,4.1,...,4.1,1.7,0.4,0.3,1.0,1.6,5.3,Minnesota,Minnesota Lynx,Minnesota
1,Julie Allemand,CHI,G,25,402.0,25.0,4,16.1,1.0,2.4,...,1.6,3.4,0.6,0.1,1.3,0.9,3.0,Chicago,Chicago Sky,Illinois
2,Lindsay Allen,MIN,G,9,134.0,9.0,0,14.9,2.2,4.2,...,1.6,3.4,0.2,0.0,0.8,1.2,6.7,Minnesota,Minnesota Lynx,Minnesota
3,Rebecca Allen,NYL,G,25,523.0,25.0,19,20.9,2.6,6.8,...,3.4,1.2,0.8,1.0,1.0,1.9,7.0,New York,New York Liberty,New York
4,Yvonne Anderson,CON,G,11,101.0,11.0,0,9.2,1.1,2.4,...,0.8,1.1,0.3,0.2,1.0,1.3,3.2,Connecticut,Connecticut Sun,Connecticut

In [25]:
print(merged_df_dropped.columns)
print(nba_merged_dropped.columns)

Index(['Player', 'Team', 'Pos', 'G', 'MP', 'G.1', 'GS', 'MP.1', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'FT', 'FTA', 'FT%',
       'ORB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'City',
       'Team Name', 'State/Province'],
      dtype='object')
Index(['Player', 'Pos', 'Team', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Team Name', 'City',
       'State/Province'],
      dtype='object')

In [26]:
# Ensure all shared columns are in the same order
common_columns = [
    "Player", "Pos", "Team", "G", "GS", "MP", "FG", "FGA", "FG%", "3P", "3PA", "3P%", 
    "2P", "2PA", "2P%", "FT", "FTA", "FT%", "ORB", "TRB", "AST", "STL", "BLK", 
    "TOV", "PF", "PTS", "City", "State/Province", "League"
]

In [27]:
nba_merged_dropped["League"] = "NBA"
merged_df_dropped["League"] = "WNBA"

In [28]:

# Reorder columns for consistency
nba_df = nba_merged_dropped[common_columns]
wnba_df = merged_df_dropped[common_columns]

# Define position mapping
position_mapping = {
    'PG': 'G',
    'SG': 'G',
    'PG-SG': 'G',
    'SG-PG': 'G',
    'SF': 'F',
    'SF-PF': 'F',
    'PF-SF': 'F',
    'PF': 'F',
    'C': 'C',
    'F': 'F',
    'F-C': 'F-C',
    'C-PF': 'F-C',
    'PF-C': 'F-C',
    'G': 'G',
    'G-F': 'G-F',
    'C-F': 'F-C',
}

# Apply the mapping
nba_merged_dropped['Pos'] = nba_merged_dropped['Pos'].map(position_mapping).fillna(nba_merged_dropped['Pos'])
merged_df_dropped['Pos'] = merged_df_dropped['Pos'].map(position_mapping).fillna(merged_df_dropped['Pos'])

# Verify the changes
print(nba_merged_dropped['Pos'].unique())
print(merged_df_dropped['Pos'].unique())


numerical_columns = combined_df.select_dtypes(include=[np.number]).columns.tolist()

numerical_columns

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler



merged_df_dropped.head()

['F-C' 'C' 'F' 'G' 'SF-SG']
['F' 'G' 'F-G' 'G-F' 'C' 'F-C']

,Player,Team,Pos,G,MP,G.1,GS,MP.1,FG,FGA,...,AST,STL,BLK,TOV,PF,PTS,City,Team Name,State/Province,League
0,Natalie Achonwa,MIN,F,22,332,22,0,15.1,2.1,4.1,...,1.7,0.4,0.3,1.0,1.6,5.3,Minnesota,Minnesota Lynx,Minnesota,WNBA
1,Julie Allemand,CHI,G,25,402,25,4,16.1,1.0,2.4,...,3.4,0.6,0.1,1.3,0.9,3.0,Chicago,Chicago Sky,Illinois,WNBA
2,Lindsay Allen,MIN,G,9,134,9,0,14.9,2.2,4.2,...,3.4,0.2,0.0,0.8,1.2,6.7,Minnesota,Minnesota Lynx,Minnesota,WNBA
3,Rebecca Allen,NYL,G,25,523,25,19,20.9,2.6,6.8,...,1.2,0.8,1.0,1.0,1.9,7.0,New York,New York Liberty,New York,WNBA
4,Yvonne Anderson,CON,G,11,101,11,0,9.2,1.1,2.4,...,1.1,0.3,0.2,1.0,1.3,3.2,Connecticut,Connecticut Sun,Connecticut,WNBA

In [29]:
combined_data = pd.concat([nba_merged_dropped, merged_df_dropped], axis=0)

combined_data

numerical_columns = combined_data.select_dtypes(include=[np.number]).columns.tolist()

In [30]:
from sklearn.preprocessing import StandardScaler

# Step 1: Identify numerical columns (exclude non-numerical columns)
numerical_columns = combined_data.select_dtypes(include=['float64', 'int64']).columns.tolist()

# Exclude non-numeric columns like 'Player', 'League', etc. (if needed)
numerical_columns = [col for col in numerical_columns if col not in ['Player', 'League']]

# Step 2: Initialize the scaler
scaler = StandardScaler()

# Step 3: Fit and transform the numerical data (scale only the numerical columns)
scaled_numerical_data = scaler.fit_transform(combined_data[numerical_columns])

# Step 4: Convert the scaled data back to a DataFrame
scaled_numerical_df = pd.DataFrame(scaled_numerical_data, columns=numerical_columns)

# Step 5: Reintegrate with non-numerical columns (e.g., 'Player', 'League')
scaled_combined_data = combined_data.copy()
scaled_combined_data[numerical_columns] = scaled_numerical_df

print("Data Scaling Complete!")
print(scaled_combined_data.head())

Data Scaling Complete!
             Player  Pos Team         G        GS        MP        FG  \
0  Precious Achiuwa  F-C  TOT  1.780311  0.119723 -0.567616  0.179766
1  Precious Achiuwa    C  TOR -0.348472 -0.730432 -0.582376  0.133724
2  Precious Achiuwa    F  NYK  0.694197  0.119723 -0.559900  0.179766
3       Bam Adebayo    C  MIA  1.649978  2.622957 -0.527026  2.159582
4      Ochai Agbaji    G  TOT  1.954089  0.592031 -0.570635 -0.234614

        FGA       FG%        3P  ...       BLK       TOV        PF       PTS  \
0  0.008244  0.606131 -0.494762  ...  1.369551  0.029380  0.434119  0.000246
1  0.120032  0.252272 -0.366793  ...  0.349004  0.156143  0.058451  0.017117
2 -0.036472  0.808337 -0.622730  ...  1.879825  0.029380  0.684565  0.000246
3  1.796864  0.774636 -0.750698  ...  1.369551  1.550543  0.809788  1.974141
4 -0.148260 -0.152139  0.017111  ...  0.604141 -0.350911 -0.066772 -0.303430

         Team Name           City  State/Province  League  G.1  MP.1
0              NaN            NaN             NaN     NBA  NaN   NaN
1  Toronto Raptors        Toronto         Ontario     NBA  NaN   NaN
2  New York Knicks  New York City        New York     NBA  NaN   NaN
3       Miami Heat          Miami         Florida     NBA  NaN   NaN
4              NaN            NaN             NaN     NBA  NaN   NaN

[5 rows x 32 columns]

In [31]:

import pandas as pd

categorical_columns =['Pos', 'Team', 'Team Name', 'City', 'League']

# One-hot encode for both datasets
combined_data_encoded = pd.get_dummies(scaled_combined_data, columns=categorical_columns)




categorical_columns

combined_data_encoded.head()

,Player,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,City_Philadelphia,City_Portland,City_Sacramento,City_Salt Lake City,City_San Antonio,City_San Francisco,City_Toronto,City_Washington,League_NBA,League_WNBA
0,Precious Achiuwa,1.780311,0.119723,-0.567616,0.179766,0.008244,0.606131,-0.494762,-0.481428,-0.184412,...,False,False,False,False,False,False,False,False,True,False
1,Precious Achiuwa,-0.348472,-0.730432,-0.582376,0.133724,0.120032,0.252272,-0.366793,-0.185300,-0.125975,...,False,False,False,False,False,False,True,False,True,False
2,Precious Achiuwa,0.694197,0.119723,-0.559900,0.179766,-0.036472,0.808337,-0.622730,-0.629492,-0.236357,...,False,False,False,False,False,False,False,False,True,False
3,Bam Adebayo,1.649978,2.622957,-0.527026,2.159582,1.796864,0.774636,-0.750698,-0.826911,0.393472,...,False,False,False,False,False,False,False,False,True,False
4,Ochai Agbaji,1.954089,0.592031,-0.570635,-0.234614,-0.148260,-0.152139,0.017111,0.209537,-0.015592,...,False,False,False,False,False,False,False,False,True,False

In [32]:
# Ensure unique player names
combined_data_encoded = combined_data_encoded.drop_duplicates(subset='Player')

In [33]:
combined_data_encoded[numerical_columns] = combined_data_encoded[numerical_columns].fillna(0)

In [34]:
from sklearn.metrics.pairwise import cosine_similarity

# Compute similarity across all players (NBA + WNBA)
similarity_matrix = cosine_similarity(combined_data_encoded[numerical_columns])

# Convert to DataFrame with Player names as index & columns
similarity_df = pd.DataFrame(similarity_matrix, index=combined_data_encoded['Player'], columns=combined_data_encoded['Player'])

print("Similarity Matrix Shape:", similarity_df.shape)


# Separate NBA and WNBA players
nba_players = combined_data_encoded[combined_data_encoded["League_NBA"] == 1]["Player"]
wnba_players = combined_data_encoded[combined_data_encoded["League_WNBA"] == 1]["Player"]

# Ensure that the player names in nba_players and wnba_players match the index/columns in similarity_df
# Extract NBA → WNBA similarities from the similarity matrix
nba_to_wnba_similarity = similarity_df.loc[nba_players, wnba_players]

# Output the shape of the NBA-to-WNBA similarity matrix
print("NBA-to-WNBA Similarity Matrix Shape:", nba_to_wnba_similarity.shape)

Similarity Matrix Shape: (793, 793)
NBA-to-WNBA Similarity Matrix Shape: (572, 221)

In [35]:
def recommend_wnba_players(nba_player, top_n=5, match_position=True):
    if nba_player not in nba_to_wnba_similarity.index:
        return "Player not found in dataset."

    # Get similarity scores
    similar_wnba_players = nba_to_wnba_similarity.loc[nba_player].sort_values(ascending=False)

    # Only filter by position if enabled
    if match_position:
        # Identify position columns
        position_columns = [col for col in combined_data_encoded.columns if col.startswith("Pos_")]

        # Get NBA player's position(s) (which one-hot position columns contain 1)
        nba_positions = combined_data_encoded.loc[combined_data_encoded["Player"] == nba_player, position_columns]
        matching_positions = nba_positions.loc[:, (nba_positions == 1).any()].columns.tolist()

        # Filter WNBA players who have at least one of the same positions
        if matching_positions:
            # Get WNBA players' positions (subset only WNBA players from combined dataset)
            wnba_players_data = combined_data_encoded[combined_data_encoded["League_WNBA"] == 1]
            
            # Ensure we only filter WNBA players who exist in `similar_wnba_players`
            wnba_players_data = wnba_players_data.set_index("Player").loc[similar_wnba_players.index]

            # Create a boolean mask for players with matching positions
            position_mask = wnba_players_data[matching_positions].sum(axis=1) > 0

            # Apply the mask to the similarity scores
            similar_wnba_players = similar_wnba_players.loc[position_mask]

    return similar_wnba_players.head(top_n)

# Example: Recommend WNBA players for Jayson Tatum
print(recommend_wnba_players("Stephen Curry"))

Player
Kia Nurse              0.904563
AD Durr                0.887350
Crystal Dangerfield    0.883675
Hind Ben Abdelkader    0.876513
Brittney Sykes         0.872134
Name: Stephen Curry, dtype: float64

#Prioritize players from the same city

In [36]:
def recommend_wnba_players(nba_player, top_n=5, match_position=True, match_city=True):
    if nba_player not in nba_to_wnba_similarity.index:
        return "Player not found in dataset."

    # Get similarity scores
    similar_wnba_players = nba_to_wnba_similarity.loc[nba_player].sort_values(ascending=False)

    # Only filter by position if enabled
    if match_position:
        # Identify position columns
        position_columns = [col for col in combined_data_encoded.columns if col.startswith("Pos_")]

        # Get NBA player's position(s) (which one-hot position columns contain 1)
        nba_positions = combined_data_encoded.loc[combined_data_encoded["Player"] == nba_player, position_columns]
        matching_positions = nba_positions.loc[:, (nba_positions == 1).any()].columns.tolist()

        # Filter WNBA players who have at least one of the same positions
        if matching_positions:
            # Get WNBA players' positions (subset only WNBA players from combined dataset)
            wnba_players_data = combined_data_encoded[combined_data_encoded["League_WNBA"] == 1]
            
            # Ensure we only filter WNBA players who exist in `similar_wnba_players`
            wnba_players_data = wnba_players_data.set_index("Player").loc[similar_wnba_players.index]

            # Create a boolean mask for players with matching positions
            position_mask = wnba_players_data[matching_positions].sum(axis=1) > 0

            # Apply the mask to the similarity scores
            similar_wnba_players = similar_wnba_players.loc[position_mask]

    # Only filter by city if enabled
    if match_city:
        # Identify city columns
        city_columns = [col for col in combined_data_encoded.columns if col.startswith("City_")]

        # Get NBA player's city (which one-hot city column contains 1)
        nba_city = combined_data_encoded.loc[combined_data_encoded["Player"] == nba_player, city_columns]
        matching_city = nba_city.loc[:, (nba_city == 1).any()].columns.tolist()

        # Filter WNBA players who are from the same city
        if matching_city:
            # Get WNBA players' cities (subset only WNBA players from combined dataset)
            wnba_players_data = combined_data_encoded[combined_data_encoded["League_WNBA"] == 1]
            
            # Ensure we only filter WNBA players who exist in `similar_wnba_players`
            wnba_players_data = wnba_players_data.set_index("Player").loc[similar_wnba_players.index]

            # Create a boolean mask for players with matching cities
            city_mask = wnba_players_data[matching_city].sum(axis=1) > 0

            # Apply the mask to the similarity scores
            similar_wnba_players = similar_wnba_players.loc[city_mask]

    return similar_wnba_players.head(top_n)

# Example: Recommend WNBA players for Jayson Tatum
print(recommend_wnba_players("Jayson Tatum"))

Series([], Name: Jayson Tatum, dtype: float64)

In [37]:
combined_data_encoded.columns.to_list()

['Player',
 'G',
 'GS',
 'MP',
 'FG',
 'FGA',
 'FG%',
 '3P',
 '3PA',
 '3P%',
 '2P',
 '2PA',
 '2P%',
 'FT',
 'FTA',
 'FT%',
 'ORB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'State/Province',
 'G.1',
 'MP.1',
 'Pos_C',
 'Pos_F',
 'Pos_F-C',
 'Pos_F-G',
 'Pos_G',
 'Pos_G-F',
 'Pos_SF-SG',
 'Team_ATL',
 'Team_BOS',
 'Team_BRK',
 'Team_CHI',
 'Team_CHO',
 'Team_CLE',
 'Team_CON',
 'Team_DAL',
 'Team_DEN',
 'Team_DET',
 'Team_GSW',
 'Team_HOU',
 'Team_IND',
 'Team_LAC',
 'Team_LAL',
 'Team_MEM',
 'Team_MIA',
 'Team_MIL',
 'Team_MIN',
 'Team_NOP',
 'Team_NYK',
 'Team_NYL',
 'Team_OKC',
 'Team_ORL',
 'Team_PHI',
 'Team_PHO',
 'Team_POR',
 'Team_SAC',
 'Team_SAS',
 'Team_TOR',
 'Team_TOT',
 'Team_UTA',
 'Team_WAS',
 'Team Name_Atlanta Dream',
 'Team Name_Atlanta Hawks',
 'Team Name_Boston Celtics',
 'Team Name_Chicago Bulls',
 'Team Name_Chicago Sky',
 'Team Name_Cleveland Cavaliers',
 'Team Name_Connecticut Sun',
 'Team Name_Dallas Mavericks',
 'Team Name_Dallas Wings',
 'Team Name_Denver Nuggets',
 'Team Name_Detroit Pistons',
 'Team Name_Golden State Warriors',
 'Team Name_Houston Rockets',
 'Team Name_Indiana Fever',
 'Team Name_Indiana Pacers',
 'Team Name_Los Angeles Clippers',
 'Team Name_Los Angeles Lakers',
 'Team Name_Memphis Grizzlies',
 'Team Name_Miami Heat',
 'Team Name_Milwaukee Bucks',
 'Team Name_Minnesota Lynx',
 'Team Name_Minnesota Timberwolves',
 'Team Name_New Orleans Pelicans',
 'Team Name_New York Knicks',
 'Team Name_New York Liberty',
 'Team Name_Oklahoma City Thunder',
 'Team Name_Orlando Magic',
 'Team Name_Philadelphia 76ers',
 'Team Name_Portland Trail Blazers',
 'Team Name_Sacramento Kings',
 'Team Name_San Antonio Spurs',
 'Team Name_Toronto Raptors',
 'Team Name_Utah Jazz',
 'Team Name_Washington Wizards',
 'City_Atlanta',
 'City_Boston',
 'City_Chicago',
 'City_Cleveland',
 'City_Connecticut',
 'City_Dallas',
 'City_Denver',
 'City_Detroit',
 'City_Houston',
 'City_Indiana',
 'City_Indianapolis',
 'City_Los Angeles',
 'City_Memphis',
 'City_Miami',
 'City_Milwaukee',
 'City_Minneapolis',
 'City_Minnesota',
 'City_New Orleans',
 'City_New York',
 'City_New York City',
 'City_Oklahoma City',
 'City_Orlando',
 'City_Philadelphia',
 'City_Portland',
 'City_Sacramento',
 'City_Salt Lake City',
 'City_San Antonio',
 'City_San Francisco',
 'City_Toronto',
 'City_Washington',
 'League_NBA',
 'League_WNBA']

In [38]:
def recommend_wnba_players(nba_player, top_n=5, match_position=True):
    if nba_player not in nba_to_wnba_similarity.index:
        return "Player not found in dataset."
    
    # Get similarity scores
    similar_wnba_players = nba_to_wnba_similarity.loc[nba_player].sort_values(ascending=False)
    
    # Identify the NBA player's city and team from one-hot encoded columns
    city_columns = [col for col in combined_data_encoded.columns if col.startswith("City_")]
    team_columns = [col for col in combined_data_encoded.columns if col.startswith("Team Name_")]
    
    nba_player_data = combined_data_encoded[combined_data_encoded["Player"] == nba_player]
    
    # Extract city
    nba_city_encoded = nba_player_data[city_columns]
    nba_city_match = nba_city_encoded.iloc[0].idxmax().replace("City_", "") if not nba_city_encoded.empty else None
    
    # Extract team name from one-hot encoding
    nba_team_encoded = nba_player_data[team_columns]
    nba_team_name = nba_team_encoded.iloc[0].idxmax().replace("Team Name_", "") if not nba_team_encoded.empty else None
    
    if nba_city_match:
        # Find WNBA players from the same city using one-hot encoding
        same_city_players_df = combined_data_encoded[
            (combined_data_encoded["League_WNBA"] == 1) & (combined_data_encoded[f"City_{nba_city_match}"] == 1)
        ]
        same_city_players = same_city_players_df["Player"].tolist()
        same_city_teams = [col.replace("Team Name_", "") for col in team_columns if same_city_players_df[col].sum() > 0]
    else:
        same_city_players = []
        same_city_teams = []
    
    # Filter similarity scores to include at least one same-city player
    city_recommendations = [player for player in same_city_players if player in similar_wnba_players.index]
    
    # Get top playstyle-based recommendations
    playstyle_recommendations = similar_wnba_players.index.tolist()
    
    # Ensure at least one same-city recommendation
    final_recommendations = city_recommendations[:1] + [p for p in playstyle_recommendations if p not in city_recommendations][:top_n-1]
    
    # Retrieve WNBA team names for the recommended players
    recommended_players_df = combined_data_encoded[combined_data_encoded["Player"].isin(final_recommendations)]
    recommended_players_df["Team"] = recommended_players_df[team_columns].idxmax(axis=1).str.replace("Team Name_", "")
    
    recommended_players_with_teams = recommended_players_df[["Player", "Team"]].drop_duplicates()
    
    # Recommend WNBA team based on similarity and same city
    recommended_teams = recommended_players_with_teams["Team"].unique().tolist()
    recommended_teams = list(set(recommended_teams + same_city_teams))
    
    return {
        "Recommended Players": recommended_players_with_teams,
        "Recommended WNBA Teams": recommended_teams
    }

# Example: Recommend WNBA players and teams for Jayson Tatum
print(recommend_wnba_players("Jayson Tatum"))

{'Recommended Players':              Player              Team
40       Lexie Hull     Indiana Fever
81       Kia Vaughn     Atlanta Dream
171       Kia Nurse  New York Liberty
183  Brittney Sykes     Atlanta Dream, 'Recommended WNBA Teams': ['Indiana Fever', 'New York Liberty', 'Atlanta Dream']}

C:\Users\lai29\AppData\Local\Temp\ipykernel_2492\2852263529.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recommended_players_df["Team"] = recommended_players_df[team_columns].idxmax(axis=1).str.replace("Team Name_", "")

In [39]:
def recommend_wnba_players(nba_player, top_n=5):
    if nba_player not in nba_to_wnba_similarity.index:
        return "Player not found in dataset."
    
    # Get similarity scores
    similar_wnba_players = nba_to_wnba_similarity.loc[nba_player].sort_values(ascending=False).head(top_n)
    
    # Extract team and city information for the similar WNBA players
    team_columns = [col for col in combined_data_encoded.columns if col.startswith("Team Name_")]
    city_columns = [col for col in combined_data_encoded.columns if col.startswith("City_")]
    
    # Get the WNBA player data
    similar_wnba_players_data = combined_data_encoded[combined_data_encoded["Player"].isin(similar_wnba_players.index)]
    
    # Extract team names and cities
    similar_wnba_players_data['Team'] = similar_wnba_players_data[team_columns].idxmax(axis=1).str.replace("Team Name_", "")
    similar_wnba_players_data['City'] = similar_wnba_players_data[city_columns].idxmax(axis=1).str.replace("City_", "")
    
    # Select relevant information
    recommended_players_with_info = similar_wnba_players_data[["Player", "Team", "City"]].drop_duplicates()
    
    return recommended_players_with_info

# Example: Recommend top 5 similar WNBA players for Jayson Tatum
print(recommend_wnba_players("Jayson Tatum"))

             Player              Team      City
32    Tiffany Hayes     Atlanta Dream   Atlanta
40       Lexie Hull     Indiana Fever   Indiana
81       Kia Vaughn     Atlanta Dream   Atlanta
171       Kia Nurse  New York Liberty  New York
183  Brittney Sykes     Atlanta Dream   Atlanta

C:\Users\lai29\AppData\Local\Temp\ipykernel_2492\423942125.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  similar_wnba_players_data['Team'] = similar_wnba_players_data[team_columns].idxmax(axis=1).str.replace("Team Name_", "")
C:\Users\lai29\AppData\Local\Temp\ipykernel_2492\423942125.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  similar_wnba_players_data['City'] = similar_wnba_players_data[city_columns].idxmax(axis=1).str.replace("City_", "")

In [40]:
combined_data_encoded[combined_data_encoded['Player'] == "Lexie Hull"]

,Player,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,City_Philadelphia,City_Portland,City_Sacramento,City_Salt Lake City,City_San Antonio,City_San Francisco,City_Toronto,City_Washington,League_NBA,League_WNBA
40,Lexie Hull,1.085198,2.008956,-0.534741,2.159582,1.998083,0.55558,1.040856,0.999212,0.412951,...,False,False,False,False,False,False,False,False,False,True

In [41]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

def preprocess_data(data):
    """Apply position-based weightings and normalize stats"""
    stat_weights = {
    "G": {"AST": 1.5, "3P": 1.2, "STL": 1.2, "TRB": 0.8, "BLK": 0.8},
    "F": {"TRB": 1.3, "BLK": 1.1, "AST": 1.1, "3P": 1.0},
    "C": {"TRB": 1.5, "BLK": 1.3, "AST": 0.7, "3P": 0.5},
}

    # Apply weights
    def apply_weights(row):
        for pos, weights in stat_weights.items():
            if row[f"Pos_{pos}"] == 1:
                for stat, weight in weights.items():
                    row[stat] *= weight
        return row

    data = data.copy().apply(apply_weights, axis=1)
    
    # Normalize stats for clustering
    feature_cols = ['PTS', 'AST', 'TRB', 'STL', 'BLK', '3P']
    scaler = StandardScaler()
    data[feature_cols] = scaler.fit_transform(data[feature_cols])
    
    return data, feature_cols

def cluster_players(data, feature_cols, n_clusters=5):
    """Group players into clusters based on playstyle"""
    kmeans = KMeans(n_clusters=n_clusters, random_state=42, n_init=10)
    data["Playstyle_Cluster"] = kmeans.fit_predict(data[feature_cols])
    return data

def build_similarity_matrix(data, feature_cols):
    """Compute similarity scores"""
    similarity_matrix = cosine_similarity(data[feature_cols])
    return pd.DataFrame(similarity_matrix, index=data["Player"], columns=data["Player"])

def recommend_wnba_players(nba_player, top_n=5):
    if nba_player not in combined_data_encoded["Player"].values:
        return "Player not found in dataset."

    # Find player's cluster
    nba_cluster = combined_data_encoded.loc[combined_data_encoded["Player"] == nba_player, "Playstyle_Cluster"].values[0]
    
    # Get WNBA players in the same cluster
    wnba_candidates = combined_data_encoded[(combined_data_encoded["League_WNBA"] == 1) & (combined_data_encoded["Playstyle_Cluster"] == nba_cluster)]

    # Get similarity scores
    similar_wnba_players = nba_to_wnba_similarity.loc[nba_player, wnba_candidates["Player"]].sort_values(ascending=False).head(top_n)

    # Extract team and city information
    team_columns = [col for col in combined_data_encoded.columns if col.startswith("Team Name_")]
    city_columns = [col for col in combined_data_encoded.columns if col.startswith("City_")]

    wnba_candidates = combined_data_encoded[combined_data_encoded["Player"].isin(similar_wnba_players.index)].copy()
    wnba_candidates['Team'] = wnba_candidates[team_columns].idxmax(axis=1).str.replace("Team Name_", "")
    wnba_candidates['City'] = wnba_candidates[city_columns].idxmax(axis=1).str.replace("City_", "")

    return wnba_candidates[["Player", "Team", "City"]].drop_duplicates()

# Preprocess data
combined_data_encoded, feature_cols = preprocess_data(combined_data_encoded)
combined_data_encoded = cluster_players(combined_data_encoded, feature_cols)
nba_to_wnba_similarity = build_similarity_matrix(combined_data_encoded, feature_cols)

# Example: Recommend WNBA players for Jayson Tatum
print(recommend_wnba_players("Jayson Tatum"))

                Player              Team      City
30   Isabelle Harrison      Dallas Wings    Dallas
33        Ruthy Hebard       Chicago Sky   Chicago
39        Rhyne Howard     Atlanta Dream   Atlanta
171          Kia Nurse  New York Liberty  New York
183     Brittney Sykes     Atlanta Dream   Atlanta

C:\Users\lai29\AppData\Local\Temp\ipykernel_2492\3782301186.py:34: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data["Playstyle_Cluster"] = kmeans.fit_predict(data[feature_cols])

In [42]:
from sklearn.preprocessing import StandardScaler

def preprocess_data(data):
    """Apply position-based weightings, normalize stats, and integrate PER & starter importance"""
    
    stat_weights = {
        "G": {"AST": 1.5, "3P": 1.2, "STL": 1.2, "REB": 0.8, "BLK": 0.8},
        "F": {"REB": 1.3, "BLK": 1.1, "AST": 1.1, "3P": 1.0},
        "C": {"REB": 1.5, "BLK": 1.3, "AST": 0.7, "3P": 0.5},
    }

    def apply_weights(row):
        for pos, weights in stat_weights.items():
            if row[f"Pos_{pos}"] == 1:
                for stat, weight in weights.items():
                    row[stat] *= weight
        return row

    data = data.copy().apply(apply_weights, axis=1)

    # Compute starter ratio (GS/G) to prioritize frequent starters
    data["Starter_Ratio"] = data["GS"] / data["G"]
    data["Starter_Ratio"] = data["Starter_Ratio"].fillna(0)  # Handle NaNs
    
    # Normalize key stats including PER (if exists)
    feature_cols = ['PTS', 'AST', 'REB', 'STL', 'BLK', '3P', 'Starter_Ratio']
    if "PER" in data.columns:
        feature_cols.append("PER")  # Include PER if available
    
    scaler = StandardScaler()
    data[feature_cols] = scaler.fit_transform(data[feature_cols])
    
    return data, feature_cols

In [43]:
def build_similarity_matrix(data, feature_cols):
    """Compute similarity scores while boosting PER and Starter Ratio"""
    
    # Compute base similarity
    similarity_matrix = cosine_similarity(data[feature_cols])
    similarity_df = pd.DataFrame(similarity_matrix, index=data["Player"], columns=data["Player"])

    # Weight similarity by starter ratio and PER
    if "PER" in feature_cols:
        weight_col = data["Starter_Ratio"] + data["PER"]
    else:
        weight_col = data["Starter_Ratio"]
    
    weight_col = weight_col / weight_col.max()  # Normalize
    similarity_df = similarity_df.mul(weight_col, axis=0).mul(weight_col, axis=1)
    
    return similarity_df

In [44]:
from sklearn.metrics import jaccard_score

def compute_jaccard_similarity(data):
    """Compute Jaccard similarity for categorical features"""
    categorical_cols = [col for col in data.columns if col.startswith(("Pos_", "City_", "Team Name_", "League_"))]

    jaccard_matrix = cosine_similarity(data[categorical_cols])  # Cosine similarity is equivalent for one-hot encoded data
    jaccard_df = pd.DataFrame(jaccard_matrix, index=data["Player"], columns=data["Player"])
    
    return jaccard_df

In [45]:
def build_hybrid_similarity_matrix(data, feature_cols, alpha=0.7):
    """Combine cosine similarity (numerical) with Jaccard similarity (categorical)"""
    
    cosine_sim = build_similarity_matrix(data, feature_cols)
    jaccard_sim = compute_jaccard_similarity(data)
    
    # Weighted combination
    hybrid_similarity = alpha * cosine_sim + (1 - alpha) * jaccard_sim
    
    return hybrid_similarity

In [46]:
def recommend_wnba_players(nba_player, top_n=5):
    if nba_player not in hybrid_similarity.index:
        return "Player not found in dataset."

    # Retrieve similarity scores
    similar_wnba_players = hybrid_similarity.loc[nba_player].sort_values(ascending=False).head(top_n)

    # Extract team and city information
    team_columns = [col for col in combined_data_encoded.columns if col.startswith("Team Name_")]
    city_columns = [col for col in combined_data_encoded.columns if col.startswith("City_")]

    wnba_candidates = combined_data_encoded[combined_data_encoded["Player"].isin(similar_wnba_players.index)].copy()
    wnba_candidates['Team'] = wnba_candidates[team_columns].idxmax(axis=1).str.replace("Team Name_", "")
    wnba_candidates['City'] = wnba_candidates[city_columns].idxmax(axis=1).str.replace("City_", "")

    return wnba_candidates[["Player", "Team", "City"]].drop_duplicates()

In [47]:
combined_data_encoded.columns.to_list()

['Player',
 'G',
 'GS',
 'MP',
 'FG',
 'FGA',
 'FG%',
 '3P',
 '3PA',
 '3P%',
 '2P',
 '2PA',
 '2P%',
 'FT',
 'FTA',
 'FT%',
 'ORB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'State/Province',
 'G.1',
 'MP.1',
 'Pos_C',
 'Pos_F',
 'Pos_F-C',
 'Pos_F-G',
 'Pos_G',
 'Pos_G-F',
 'Pos_SF-SG',
 'Team_ATL',
 'Team_BOS',
 'Team_BRK',
 'Team_CHI',
 'Team_CHO',
 'Team_CLE',
 'Team_CON',
 'Team_DAL',
 'Team_DEN',
 'Team_DET',
 'Team_GSW',
 'Team_HOU',
 'Team_IND',
 'Team_LAC',
 'Team_LAL',
 'Team_MEM',
 'Team_MIA',
 'Team_MIL',
 'Team_MIN',
 'Team_NOP',
 'Team_NYK',
 'Team_NYL',
 'Team_OKC',
 'Team_ORL',
 'Team_PHI',
 'Team_PHO',
 'Team_POR',
 'Team_SAC',
 'Team_SAS',
 'Team_TOR',
 'Team_TOT',
 'Team_UTA',
 'Team_WAS',
 'Team Name_Atlanta Dream',
 'Team Name_Atlanta Hawks',
 'Team Name_Boston Celtics',
 'Team Name_Chicago Bulls',
 'Team Name_Chicago Sky',
 'Team Name_Cleveland Cavaliers',
 'Team Name_Connecticut Sun',
 'Team Name_Dallas Mavericks',
 'Team Name_Dallas Wings',
 'Team Name_Denver Nuggets',
 'Team Name_Detroit Pistons',
 'Team Name_Golden State Warriors',
 'Team Name_Houston Rockets',
 'Team Name_Indiana Fever',
 'Team Name_Indiana Pacers',
 'Team Name_Los Angeles Clippers',
 'Team Name_Los Angeles Lakers',
 'Team Name_Memphis Grizzlies',
 'Team Name_Miami Heat',
 'Team Name_Milwaukee Bucks',
 'Team Name_Minnesota Lynx',
 'Team Name_Minnesota Timberwolves',
 'Team Name_New Orleans Pelicans',
 'Team Name_New York Knicks',
 'Team Name_New York Liberty',
 'Team Name_Oklahoma City Thunder',
 'Team Name_Orlando Magic',
 'Team Name_Philadelphia 76ers',
 'Team Name_Portland Trail Blazers',
 'Team Name_Sacramento Kings',
 'Team Name_San Antonio Spurs',
 'Team Name_Toronto Raptors',
 'Team Name_Utah Jazz',
 'Team Name_Washington Wizards',
 'City_Atlanta',
 'City_Boston',
 'City_Chicago',
 'City_Cleveland',
 'City_Connecticut',
 'City_Dallas',
 'City_Denver',
 'City_Detroit',
 'City_Houston',
 'City_Indiana',
 'City_Indianapolis',
 'City_Los Angeles',
 'City_Memphis',
 'City_Miami',
 'City_Milwaukee',
 'City_Minneapolis',
 'City_Minnesota',
 'City_New Orleans',
 'City_New York',
 'City_New York City',
 'City_Oklahoma City',
 'City_Orlando',
 'City_Philadelphia',
 'City_Portland',
 'City_Sacramento',
 'City_Salt Lake City',
 'City_San Antonio',
 'City_San Francisco',
 'City_Toronto',
 'City_Washington',
 'League_NBA',
 'League_WNBA',
 'Playstyle_Cluster']

In [48]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

def calculate_per(data):
    """Calculate Player Efficiency Rating (PER)"""
    # Basic PER formula approximation
    data["PER"] = (
        (data["PTS"] + data["AST"] * 1.5 + data["TRB"] * 1.2 + data["STL"] * 1.5 + data["BLK"] * 1.5) /
        (data["MP"] + 1)  # Avoid division by zero
    ) * 15  # Scale PER to an average of 15
    return data

def preprocess_data(data):
    """Apply position-based weightings and normalize stats"""
    data = calculate_per(data)
    
    stat_weights = {
        "G": {"AST": 1.5, "3P": 1.2, "STL": 1.2, "TRB": 0.8, "BLK": 0.8},
        "F": {"TRB": 1.3, "BLK": 1.1, "AST": 1.1, "3P": 1.0},
        "C": {"TRB": 1.5, "BLK": 1.3, "AST": 0.7, "3P": 0.5},
    }

    # Apply weights
    def apply_weights(row):
        for pos, weights in stat_weights.items():
            if row[f"Pos_{pos}"] == 1:
                for stat, weight in weights.items():
                    if stat in row:
                        row[stat] *= weight
        return row

    data = data.copy().apply(apply_weights, axis=1)
    
    # Normalize stats for clustering
    feature_cols = ['PTS', 'AST', 'TRB', 'STL', 'BLK', '3P', 'PER']
    scaler = StandardScaler()
    data[feature_cols] = scaler.fit_transform(data[feature_cols])
    
    return data, feature_cols

def cluster_players(data, feature_cols, n_clusters=5):
    """Group players into clusters based on playstyle"""
    kmeans = KMeans(n_clusters=n_clusters, random_state=42, n_init=10)
    data["Playstyle_Cluster"] = kmeans.fit_predict(data[feature_cols])
    return data

def build_similarity_matrix(data, feature_cols):
    """Compute similarity scores"""
    similarity_matrix = cosine_similarity(data[feature_cols])
    return pd.DataFrame(similarity_matrix, index=data["Player"], columns=data["Player"])

def recommend_wnba_players(nba_player, top_n=5):
    if nba_player not in combined_data_encoded["Player"].values:
        return "Player not found in dataset."

    # Find player's cluster
    nba_cluster = combined_data_encoded.loc[combined_data_encoded["Player"] == nba_player, "Playstyle_Cluster"].values[0]
    
    # Get WNBA players in the same cluster and filter by starters & PER
    wnba_candidates = combined_data_encoded[(combined_data_encoded["League_WNBA"] == 1)]
    
    # Prioritize starters if the column exists
    if "Starter" in wnba_candidates.columns:
        wnba_candidates = wnba_candidates.sort_values(by=["Starter", "PER"], ascending=[False, False])
    else:
        wnba_candidates = wnba_candidates.sort_values(by=["PER"], ascending=False)
    
    # Get similarity scores
    similar_wnba_players = nba_to_wnba_similarity.loc[nba_player, wnba_candidates["Player"]].sort_values(ascending=False).head(top_n)

    # Extract team and city information
    team_columns = [col for col in combined_data_encoded.columns if col.startswith("Team Name_")]
    city_columns = [col for col in combined_data_encoded.columns if col.startswith("City_")]

    wnba_candidates = combined_data_encoded[combined_data_encoded["Player"].isin(similar_wnba_players.index)].copy()
    wnba_candidates['Team'] = wnba_candidates[team_columns].idxmax(axis=1).str.replace("Team Name_", "")
    wnba_candidates['City'] = wnba_candidates[city_columns].idxmax(axis=1).str.replace("City_", "")

    return wnba_candidates[["Player", "Team", "City"]].drop_duplicates()

# Preprocess data
combined_data_encoded = calculate_per(combined_data_encoded)
combined_data_encoded, feature_cols = preprocess_data(combined_data_encoded)
combined_data_encoded = cluster_players(combined_data_encoded, feature_cols)
nba_to_wnba_similarity = build_similarity_matrix(combined_data_encoded, feature_cols)

C:\Users\lai29\AppData\Local\Temp\ipykernel_2492\14984490.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data["PER"] = (

In [49]:
# Example: Recommend WNBA players for Jayson Tatum
print(recommend_wnba_players("James Harden"))

               Player              Team      City
39       Rhyne Howard     Atlanta Dream   Atlanta
94            AD Durr  New York Liberty  New York
171         Kia Nurse  New York Liberty  New York
393    Stella Johnson       Chicago Sky   Chicago
462  Epiphanny Prince  New York Liberty  New York

In [50]:
def recommend_wnba_players(nba_player, top_n=5):
    if nba_player not in combined_data_encoded["Player"].values:
        return "Player not found in dataset."
    
    # Find player's cluster
    nba_cluster = combined_data_encoded.loc[combined_data_encoded["Player"] == nba_player, "Playstyle_Cluster"].values[0]
    
    # Get NBA player's city one-hot encoded columns
    nba_city_encoded = combined_data_encoded[combined_data_encoded["Player"] == nba_player][[col for col in combined_data_encoded.columns if col.startswith("City_")]].values[0]
    
    # Get WNBA players in the same cluster
    wnba_candidates = combined_data_encoded[(combined_data_encoded["League_WNBA"] == 1)]
    
    # Add a column that indicates whether the WNBA player is from the same city as the NBA player
    wnba_candidates['City_Match'] = wnba_candidates[[col for col in combined_data_encoded.columns if col.startswith("City_")]].apply(
        lambda x: int(any(x == nba_city_encoded)), axis=1)
    
    # Sort by same city (high priority) and then by PER
    wnba_candidates = wnba_candidates.sort_values(by=["City_Match", "PER"], ascending=[False, False])
    
    # Get similarity scores
    similar_wnba_players = nba_to_wnba_similarity.loc[nba_player, wnba_candidates["Player"]].sort_values(ascending=False).head(top_n)

    # Extract team and city information
    team_columns = [col for col in combined_data_encoded.columns if col.startswith("Team Name_")]
    city_columns = [col for col in combined_data_encoded.columns if col.startswith("City_")]

    wnba_candidates = combined_data_encoded[combined_data_encoded["Player"].isin(similar_wnba_players.index)].copy()
    wnba_candidates['Team'] = wnba_candidates[team_columns].idxmax(axis=1).str.replace("Team Name_", "")
    wnba_candidates['City'] = wnba_candidates[city_columns].idxmax(axis=1).str.replace("City_", "")

    return wnba_candidates[["Player", "Team", "City"]].drop_duplicates()

# Example: Recommend WNBA players for Jayson Tatum
print(recommend_wnba_players("Jayson Tatum"))

                 Player           Team     City
33         Ruthy Hebard    Chicago Sky  Chicago
36          Naz Hillmon  Atlanta Dream  Atlanta
54       Emma Meesseman    Chicago Sky  Chicago
90             Li Yueru    Chicago Sky  Chicago
91  Crystal Dangerfield  Indiana Fever  Indiana

C:\Users\lai29\AppData\Local\Temp\ipykernel_2492\1582213795.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  wnba_candidates['City_Match'] = wnba_candidates[[col for col in combined_data_encoded.columns if col.startswith("City_")]].apply(
C:\Users\lai29\AppData\Local\Temp\ipykernel_2492\1582213795.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wnba_candidates['City_Match'] = wnba_candidates[[col for col in combined_data_encoded.columns if col.startswith("City_")]].apply(

In [51]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

def calculate_per(data):
    """Calculate Player Efficiency Rating (PER)"""
    # Basic PER formula approximation
    data["PER"] = (
        (data["PTS"] + data["AST"] * 1.5 + data["TRB"] * 1.2 + data["STL"] * 1.5 + data["BLK"] * 1.5) /
        (data["MP"] + 1)  # Avoid division by zero
    ) * 15  # Scale PER to an average of 15
    return data

def preprocess_data(data):
    """Apply position-based weightings and normalize stats"""
    data = calculate_per(data)
    
    stat_weights = {
        "G": {"AST": 1.5, "3P": 1.2, "STL": 1.2, "TRB": 0.8, "BLK": 0.8},
        "F": {"TRB": 1.3, "BLK": 1.1, "AST": 1.1, "3P": 1.0},
        "C": {"TRB": 1.5, "BLK": 1.3, "AST": 0.7, "3P": 0.5},
    }

    # Apply weights
    def apply_weights(row):
        for pos, weights in stat_weights.items():
            if row[f"Pos_{pos}"] == 1:
                for stat, weight in weights.items():
                    if stat in row:
                        row[stat] *= weight
        return row

    data = data.copy().apply(apply_weights, axis=1)
    
    # Normalize stats for clustering
    feature_cols = ['PTS', 'AST', 'TRB', 'STL', 'BLK', '3P', 'PER']
    scaler = StandardScaler()
    data[feature_cols] = scaler.fit_transform(data[feature_cols])
    
    return data, feature_cols

def cluster_players(data, feature_cols, n_clusters=5):
    """Group players into clusters based on playstyle"""
    kmeans = KMeans(n_clusters=n_clusters, random_state=42, n_init=10)
    data["Playstyle_Cluster"] = kmeans.fit_predict(data[feature_cols])
    return data

def build_similarity_matrix(data, feature_cols):
    """Compute similarity scores"""
    similarity_matrix = cosine_similarity(data[feature_cols])
    return pd.DataFrame(similarity_matrix, index=data["Player"], columns=data["Player"])

def recommend_wnba_players(nba_player, top_n=5):
    if nba_player not in combined_data_encoded["Player"].values:
        return "Player not found in dataset."

    # Find player's cluster
    nba_cluster = combined_data_encoded.loc[combined_data_encoded["Player"] == nba_player, "Playstyle_Cluster"].values[0]
    
    # Get NBA player's city one-hot encoded columns
    nba_city_encoded = combined_data_encoded[combined_data_encoded["Player"] == nba_player][[col for col in combined_data_encoded.columns if col.startswith("City_")]].values[0]
    
    # Get WNBA players in the same cluster
    wnba_candidates = combined_data_encoded[(combined_data_encoded["League_WNBA"] == 1)]
    
    # Add a column that indicates whether the WNBA player is from the same city as the NBA player
    wnba_candidates['City_Match'] = wnba_candidates[[col for col in combined_data_encoded.columns if col.startswith("City_")]].apply(
        lambda x: int(any(x == nba_city_encoded)), axis=1)
    
    # Prioritize starters if the column exists, then by city match, then by PER
    if "Starter" in wnba_candidates.columns:
        wnba_candidates = wnba_candidates.sort_values(by=["Starter", "City_Match", "PER"], ascending=[False, False, False])
    else:
        wnba_candidates = wnba_candidates.sort_values(by=["City_Match", "PER"], ascending=[False, False])
    
    # Get similarity scores
    similar_wnba_players = nba_to_wnba_similarity.loc[nba_player, wnba_candidates["Player"]].sort_values(ascending=False).head(top_n)

    # Extract team and city information
    team_columns = [col for col in combined_data_encoded.columns if col.startswith("Team Name_")]
    city_columns = [col for col in combined_data_encoded.columns if col.startswith("City_")]

    wnba_candidates = combined_data_encoded[combined_data_encoded["Player"].isin(similar_wnba_players.index)].copy()
    wnba_candidates['Team'] = wnba_candidates[team_columns].idxmax(axis=1).str.replace("Team Name_", "")
    wnba_candidates['City'] = wnba_candidates[city_columns].idxmax(axis=1).str.replace("City_", "")

    return wnba_candidates[["Player", "Team", "City"]].drop_duplicates()

# Preprocess data
combined_data_encoded = calculate_per(combined_data_encoded)
combined_data_encoded, feature_cols = preprocess_data(combined_data_encoded)
combined_data_encoded = cluster_players(combined_data_encoded, feature_cols)
nba_to_wnba_similarity = build_similarity_matrix(combined_data_encoded, feature_cols)

In [54]:
#save data as csv:
save_csv = combined_data_encoded.copy()
save_csv.to_csv('combined_data_encoded.csv', index=False)

In [ ]:
# Example: Recommend WNBA players for Jayson Tatum
print(recommend_wnba_players("Nikola Jokic"))


#I may need to update my player names:

Player not found in dataset.

Customer Dataset

In [ ]:
customer = pd.read_csv('MOCK_DATA.csv')

In [ ]:
customer.head()

,customer_id,first_name,last_name,email,age,gender,city,state,country,favorite_nba_team,favorite_players,wnba_team_interest,merch_purchased,total_spent_usd,purchase_frequency,game_attendance,tv_viewing_hours,social_media_engagement,sports_news_engagement,recommendation_score
0,error: undefined method `first' for nil:NilClass,Karolina,Blades,kblades0@fda.gov,69,F,Omaha,NE,United States,Houston Rockets,Russell Westbrook,Chicago Sky,socks,Dollar,4,1,5.0,48,71,0.36
1,error: undefined method `first' for nil:NilClass,Charlean,Sherrard,csherrard1@unesco.org,69,F,Springfield,MA,United States,Golden State Warriors,Luka Doncic,Los Angeles Sparks,backpacks,Dollar,1,1,11.5,86,66,0.35
2,error: undefined method `first' for nil:NilClass,Solly,Rammell,srammell2@hc360.com,54,M,Newark,NJ,United States,Toronto Raptors,Zach LaVine,NaN,posters,Dollar,0,4,7.1,73,69,0.34
3,error: undefined method `first' for nil:NilClass,Atalanta,Bathersby,abathersby3@liveinternet.ru,66,F,Saint Louis,MO,United States,Miami Heat,Paul George,Atlanta Dream,jerseys,Dollar,3,2,6.0,72,65,0.37
4,error: undefined method `first' for nil:NilClass,Rafe,Manners,rmanners4@clickbank.net,76,M,Burbank,CA,United States,Los Angeles Lakers,Dejounte Murray,Seattle Storm,posters,Dollar,1,4,4.0,76,62,0.37

In [ ]:
customer_dropped = customer.drop(columns=['customer_id','recommendation_score','total_spent_usd'], axis=1)

In [ ]:
customer_dropped

,first_name,last_name,email,age,gender,city,state,country,favorite_nba_team,favorite_players,wnba_team_interest,merch_purchased,total_spent_usd,purchase_frequency,game_attendance,tv_viewing_hours,social_media_engagement,sports_news_engagement
0,Karolina,Blades,kblades0@fda.gov,69,F,Omaha,NE,United States,Houston Rockets,Russell Westbrook,Chicago Sky,socks,Dollar,4,1,5.0,48,71
1,Charlean,Sherrard,csherrard1@unesco.org,69,F,Springfield,MA,United States,Golden State Warriors,Luka Doncic,Los Angeles Sparks,backpacks,Dollar,1,1,11.5,86,66
2,Solly,Rammell,srammell2@hc360.com,54,M,Newark,NJ,United States,Toronto Raptors,Zach LaVine,NaN,posters,Dollar,0,4,7.1,73,69
3,Atalanta,Bathersby,abathersby3@liveinternet.ru,66,F,Saint Louis,MO,United States,Miami Heat,Paul George,Atlanta Dream,jerseys,Dollar,3,2,6.0,72,65
4,Rafe,Manners,rmanners4@clickbank.net,76,M,Burbank,CA,United States,Los Angeles Lakers,Dejounte Murray,Seattle Storm,posters,Dollar,1,4,4.0,76,62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Bailey,Riddich,briddichrn@tripadvisor.com,58,M,Washington,DC,United States,Golden State Warriors,Kristaps Porzingis,NaN,phone cases,Dollar,2,4,5.7,53,54
996,Lynnell,Fowls,lfowlsro@livejournal.com,45,F,Reading,PA,United States,Miami Heat,Jaylen Brown,Minnesota Lynx,hats,Dollar,0,1,7.8,58,78
997,Nahum,Giraldez,ngiraldezrp@purevolume.com,70,M,Pittsburgh,PA,United States,Golden State Warriors,Chris Paul,NaN,jerseys,Dollar,5,8,4.2,40,49
998,Elmo,Dufer,eduferrq@tuttocitta.it,71,M,Winter Haven,FL,United States,Philadelphia 76ers,Ben Simmons,NaN,keychains,Dollar,3,3,4.0,39,41
999,Mahmud,Sturney,msturneyrr@miitbeian.gov.cn,22,M,Huntsville,AL,United States,Chicago Bulls,Bradley Beal,Phoenix Mercury,socks,Dollar,3,4,9.4,58,59

In [ ]:
#WNBA recommendor with customer data integrated 

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.cluster import KMeans
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

# Load and preprocess customer data
def preprocess_customer_data(customer_data):
    """Preprocess customer dataset: one-hot encode categorical features and normalize numerical ones."""
    categorical_cols = ["favorite_nba_team", "favorite_players", "wnba_team_interest", "merch_purchased"]
    numerical_cols = ["purchase_frequency", "game_attendance", "tv_viewing_hours", "social_media_engagement", "sports_news_engagement"]
    
    # One-hot encode categorical columns
    encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
    encoded_cats = encoder.fit_transform(customer_data[categorical_cols])
    encoded_cats_df = pd.DataFrame(encoded_cats, columns=encoder.get_feature_names_out(categorical_cols))
    
    # Normalize numerical columns
    scaler = StandardScaler()
    customer_data[numerical_cols] = scaler.fit_transform(customer_data[numerical_cols])
    
    # Combine processed features
    customer_data = pd.concat([customer_data, encoded_cats_df], axis=1).drop(columns=categorical_cols)
    
    return customer_data

def calculate_per(data):
    """Calculate Player Efficiency Rating (PER)"""
    data["PER"] = (
        (data["PTS"] + data["AST"] * 1.5 + data["TRB"] * 1.2 + data["STL"] * 1.5 + data["BLK"] * 1.5) /
        (data["MP"] + 1)  # Avoid division by zero
    ) * 15  # Scale PER to an average of 15
    return data

def preprocess_data(data):
    """Apply position-based weightings and normalize stats"""
    data = calculate_per(data)
    
    stat_weights = {
        "G": {"AST": 1.5, "3P": 1.2, "STL": 1.2, "TRB": 0.8, "BLK": 0.8},
        "F": {"TRB": 1.3, "BLK": 1.1, "AST": 1.1, "3P": 1.0},
        "C": {"TRB": 1.5, "BLK": 1.3, "AST": 0.7, "3P": 0.5},
    }

    def apply_weights(row):
        for pos, weights in stat_weights.items():
            if row[f"Pos_{pos}"] == 1:
                for stat, weight in weights.items():
                    if stat in row:
                        row[stat] *= weight
        return row

    data = data.copy().apply(apply_weights, axis=1)
    
    feature_cols = ['PTS', 'AST', 'TRB', 'STL', 'BLK', '3P', 'PER']
    scaler = StandardScaler()
    data[feature_cols] = scaler.fit_transform(data[feature_cols])
    
    return data, feature_cols

def cluster_players(data, feature_cols, n_clusters=5):
    """Group players into clusters based on playstyle"""
    kmeans = KMeans(n_clusters=n_clusters, random_state=42, n_init=10)
    data["Playstyle_Cluster"] = kmeans.fit_predict(data[feature_cols])
    return data

def build_similarity_matrix(data, feature_cols):
    """Compute similarity scores"""
    similarity_matrix = cosine_similarity(data[feature_cols])
    return pd.DataFrame(similarity_matrix, index=data["Player"], columns=data["Player"])

def recommend_wnba_players(nba_player, top_n=5):
    if nba_player not in combined_data_encoded["Player"].values:
        return "Player not found in dataset."

    nba_cluster = combined_data_encoded.loc[combined_data_encoded["Player"] == nba_player, "Playstyle_Cluster"].values[0]
    nba_city_encoded = combined_data_encoded[combined_data_encoded["Player"] == nba_player][[col for col in combined_data_encoded.columns if col.startswith("City_")]].values[0]
    
    wnba_candidates = combined_data_encoded[(combined_data_encoded["League_WNBA"] == 1)]
    wnba_candidates['City_Match'] = wnba_candidates[[col for col in combined_data_encoded.columns if col.startswith("City_")]].apply(
        lambda x: int(any(x == nba_city_encoded)), axis=1)
    
    if "Starter" in wnba_candidates.columns:
        wnba_candidates = wnba_candidates.sort_values(by=["Starter", "City_Match", "PER"], ascending=[False, False, False])
    else:
        wnba_candidates = wnba_candidates.sort_values(by=["City_Match", "PER"], ascending=[False, False])
    
    similar_wnba_players = nba_to_wnba_similarity.loc[nba_player, wnba_candidates["Player"]].sort_values(ascending=False).head(top_n)

    team_columns = [col for col in combined_data_encoded.columns if col.startswith("Team Name_")]
    city_columns = [col for col in combined_data_encoded.columns if col.startswith("City_")]

    wnba_candidates = combined_data_encoded[combined_data_encoded["Player"].isin(similar_wnba_players.index)].copy()
    wnba_candidates['Team'] = wnba_candidates[team_columns].idxmax(axis=1).str.replace("Team Name_", "")
    wnba_candidates['City'] = wnba_candidates[city_columns].idxmax(axis=1).str.replace("City_", "")

    return wnba_candidates[["Player", "Team", "City"]].drop_duplicates()

# Load customer data and integrate into recommendations
def recommend_for_customer(customer_email, customer_data):
    # Locate the customer by email
    customer = customer_data[customer_data["email"] == customer_email]
    if customer.empty:
        return "Customer not found."

    # Extract one-hot encoded columns related to favorite NBA team
    favorite_team_columns = [col for col in customer_data.columns if col.startswith("favorite_nba_team_")]
    favorite_team = customer[favorite_team_columns].idxmax(axis=1).str[len("favorite_nba_team_"):].values[0]

    # Extract one-hot encoded columns related to favorite players
    favorite_players_columns = [col for col in customer_data.columns if col.startswith("favorite_players_")]
    favorite_players = customer[favorite_players_columns].idxmax(axis=1).str[len("favorite_players_"):].values[0]

    # Determine WNBA team suggestion
    wnba_team_columns = [col for col in customer_data.columns if col.startswith("wnba_team_interest_")]
    wnba_team_suggestion = customer[wnba_team_columns].idxmax(axis=1).str[len("wnba_team_interest_"):].values[0]

    # Get player recommendations
    if favorite_players != "unknown":
        player_recommendations = recommend_wnba_players(favorite_players, top_n=3)
    else:
        player_recommendations = "No player preference"

    return {
        "Suggested WNBA Team": wnba_team_suggestion,
        "Recommended WNBA Players": player_recommendations
    }

# Preprocess data
combined_data_encoded = calculate_per(combined_data_encoded)
combined_data_encoded, feature_cols = preprocess_data(combined_data_encoded)
combined_data_encoded = cluster_players(combined_data_encoded, feature_cols)
nba_to_wnba_similarity = build_similarity_matrix(combined_data_encoded, feature_cols)

In [ ]:
# Example usage
customer_data_processed = preprocess_customer_data(customer_dropped)
print(recommend_for_customer("jmold9@un.org", customer_data_processed))

{'Suggested WNBA Team': 'Dallas Wings', 'Recommended WNBA Players':                   Player           Team     City
9          Maya Caldwell  Atlanta Dream  Atlanta
91   Crystal Dangerfield  Indiana Fever  Indiana
288      Stephanie Watts    Chicago Sky  Chicago}

C:\Users\lai29\AppData\Local\Temp\ipykernel_7912\3957750157.py:81: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  wnba_candidates['City_Match'] = wnba_candidates[[col for col in combined_data_encoded.columns if col.startswith("City_")]].apply(
C:\Users\lai29\AppData\Local\Temp\ipykernel_7912\3957750157.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wnba_candidates['City_Match'] = wnba_candidates[[col for col in combined_data_encoded.columns if col.startswith("City_")]].apply(

In [ ]:
print(customer_data_processed.columns)

Index(['first_name', 'last_name', 'email', 'age', 'gender', 'city', 'state',
       'country', 'purchase_frequency', 'game_attendance', 'tv_viewing_hours',
       'social_media_engagement', 'sports_news_engagement',
       'favorite_nba_team_Boston Celtics', 'favorite_nba_team_Chicago Bulls',
       'favorite_nba_team_Dallas Mavericks',
       'favorite_nba_team_Denver Nuggets',
       'favorite_nba_team_Golden State Warriors',
       'favorite_nba_team_Houston Rockets',
       'favorite_nba_team_Los Angeles Lakers', 'favorite_nba_team_Miami Heat',
       'favorite_nba_team_Philadelphia 76ers',
       'favorite_nba_team_Toronto Raptors', 'favorite_players_Anthony Davis',
       'favorite_players_Bam Adebayo', 'favorite_players_Ben Simmons',
       'favorite_players_Bradley Beal', 'favorite_players_Brandon Ingram',
       'favorite_players_CJ McCollum', 'favorite_players_Chris Paul',
       'favorite_players_D'Angelo Russell', 'favorite_players_Damian Lillard',
       'favorite_players_De'Aaron Fox', 'favorite_players_DeMar DeRozan',
       'favorite_players_Deandre Ayton', 'favorite_players_Dejounte Murray',
       'favorite_players_Devin Booker', 'favorite_players_Domantas Sabonis',
       'favorite_players_Donovan Mitchell', 'favorite_players_Fred VanVleet',
       'favorite_players_Giannis Antetokounmpo', 'favorite_players_Ja Morant',
       'favorite_players_Jamal Murray', 'favorite_players_James Harden',
       'favorite_players_Jaylen Brown', 'favorite_players_Jayson Tatum',
       'favorite_players_Jimmy Butler', 'favorite_players_Joel Embiid',
       'favorite_players_John Collins', 'favorite_players_Julius Randle',
       'favorite_players_Karl-Anthony Towns', 'favorite_players_Kawhi Leonard',
       'favorite_players_Kevin Durant', 'favorite_players_Klay Thompson',
       'favorite_players_Kristaps Porzingis', 'favorite_players_Kyle Lowry',
       'favorite_players_Kyrie Irving', 'favorite_players_LeBron James',
       'favorite_players_Luka Doncic', 'favorite_players_Myles Turner',
       'favorite_players_Nikola Jokic', 'favorite_players_Pascal Siakam',
       'favorite_players_Paul George', 'favorite_players_Rudy Gobert',
       'favorite_players_Russell Westbrook',
       'favorite_players_Shai Gilgeous-Alexander',
       'favorite_players_Stephen Curry', 'favorite_players_Tobias Harris',
       'favorite_players_Trae Young', 'favorite_players_Zach LaVine',
       'favorite_players_Zion Williamson', 'wnba_team_interest_Atlanta Dream',
       'wnba_team_interest_Chicago Sky', 'wnba_team_interest_Dallas Wings',
       'wnba_team_interest_Las Vegas Aces',
       'wnba_team_interest_Los Angeles Sparks',
       'wnba_team_interest_Minnesota Lynx',
       'wnba_team_interest_New York Liberty',
       'wnba_team_interest_Phoenix Mercury',
       'wnba_team_interest_Seattle Storm',
       'wnba_team_interest_Washington Mystics', 'wnba_team_interest_nan',
       'merch_purchased_backpacks', 'merch_purchased_blankets',
       'merch_purchased_hats', 'merch_purchased_jerseys',
       'merch_purchased_keychains', 'merch_purchased_phone cases',
       'merch_purchased_posters', 'merch_purchased_socks',
       'merch_purchased_sweatshirts', 'merch_purchased_water bottles'],
      dtype='object')

Deployment

In [ ]:
pip install streamlit pandas scikit-learn

Collecting streamlitNote: you may need to restart the kernel to use updated packages.

  Downloading streamlit-1.44.1-py3-none-any.whl.metadata (8.9 kB)
Requirement already satisfied: pandas in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: scikit-learn in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (1.6.0)
Collecting altair<6,>=4.0 (from streamlit)
  Downloading altair-5.5.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (1.9.0)
Collecting cachetools<6,>=4.0 (from streamlit)
  Downloading cachetools-5.5.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: click<9,>=7.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (8.1.8)
Requirement already satisfied: numpy<3,>=1.23 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (2.2.4)
Requirement already satisfied: packaging<25,>=20 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (24.2)
Requirement already satisfied: pillow<12,>=7.1.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (11.0.0)
Collecting protobuf<6,>=3.20 (from streamlit)
  Downloading protobuf-5.29.4-cp310-abi3-win_amd64.whl.metadata (592 bytes)
Requirement already satisfied: pyarrow>=7.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (19.0.1)
Requirement already satisfied: requests<3,>=2.27 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (9.0.0)
Collecting toml<2,>=0.10.1 (from streamlit)
  Downloading toml-0.10.2-py2.py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (4.13.0)
Collecting watchdog<7,>=2.1.5 (from streamlit)
  Downloading watchdog-6.0.0-py3-none-win_amd64.whl.metadata (44 kB)
Collecting gitpython!=3.1.19,<4,>=3.0.7 (from streamlit)
  Downloading GitPython-3.1.44-py3-none-any.whl.metadata (13 kB)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Downloading pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\lai29\appdata\roaming\python\python313\site-packages (from streamlit) (6.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: jinja2 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.5)
Requirement already satisfied: jsonschema>=3.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Collecting narwhals>=1.14.2 (from altair<6,>=4.0->streamlit)
  Downloading narwhals-1.33.0-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: colorama in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Collecting gitdb<5,>=4.0.1 (from gitpython!=3.1.19,<4,>=3.0.7->streamlit)
  Downloading gitdb-4.0.12-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: six>=1.5 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (2025.1.31)
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit)
  Downloading smmap-5.0.2-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\lai29\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.21.0)
Downloading streamlit-1.44.1-py3-none-any.whl (9.8 MB)
   ---------------------------------------- 0.0/9.8 MB ? eta -:--:--
   ---------------------------------------  9.7/9.8 MB 64.9 MB/s eta 0:00:01
   ---------------------------------------- 9.8/9.8 MB 26.7 MB/s eta 0:00:00
Downloading altair-5.5.0-py3-none-any.whl (731 kB)
   ---------------------------------------- 0.0/731.2 kB ? eta -:--:--
   --------------------------- ----------- 524.3/731.2 kB 20.3 MB/s eta 0:00:01
   ---------------------------------------- 731.2/731.2 kB 1.5 MB/s eta 0:00:00
Downloading cachetools-5.5.2-py3-none-any.whl (10 kB)
Downloading GitPython-3.1.44-py3-none-any.whl (207 kB)
Downloading protobuf-5.29.4-cp310-abi3-win_amd64.whl (434 kB)
Downloading pydeck-0.9.1-py2.py3-none-any.whl (6.9 MB)
   ---------------------------------------- 0.0/6.9 MB ? eta -:--:--
   ------ --------------------------------- 1.0/6.9 MB 3.8 MB/s eta 0:00:02
   ------------- -------------------------- 2.4/6.9 MB 5.4 MB/s eta 0:00:01
   ---------------------- ----------------- 3.9/6.9 MB 6.1 MB/s eta 0:00:01
   ---------------------------- ----------- 5.0/6.9 MB 5.9 MB/s eta 0:00:01
   ------------------------------------- -- 6.6/6.9 MB 5.9 MB/s eta 0:00:01
   ---------------------------------------  6.8/6.9 MB 5.8 MB/s eta 0:00:01
   ---------------------------------------- 6.9/6.9 MB 4.2 MB/s eta 0:00:00
Downloading toml-0.10.2-py2.py3-none-any.whl (16 kB)
Downloading watchdog-6.0.0-py3-none-win_amd64.whl (79 kB)
Downloading gitdb-4.0.12-py3-none-any.whl (62 kB)
Downloading narwhals-1.33.0-py3-none-any.whl (322 kB)
Downloading smmap-5.0.2-py3-none-any.whl (24 kB)
Installing collected packages: watchdog, toml, smmap, protobuf, narwhals, cachetools, pydeck, gitdb, gitpython, altair, streamlit
Successfully installed altair-5.5.0 cachetools-5.5.2 gitdb-4.0.12 gitpython-3.1.44 narwhals-1.33.0 protobuf-5.29.4 pydeck-0.9.1 smmap-5.0.2 streamlit-1.44.1 toml-0.10.2 watchdog-6.0.0

In [ ]:
import os
print(os.getcwd())  # Shows the current working directory

c:\Users\lai29\OneDrive - UBC\Documents\Final-Project

In [55]:
import streamlit as st
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.cluster import KMeans
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

# Your data processing and recommendation functions go here...
# (Include the functions you already have, such as preprocess_customer_data, calculate_per, etc.)

# Add your function logic here
def recommend_wnba_players(nba_player, top_n=5):
    if nba_player not in combined_data_encoded["Player"].values:
        return "Player not found in dataset."

    nba_cluster = combined_data_encoded.loc[combined_data_encoded["Player"] == nba_player, "Playstyle_Cluster"].values[0]
    nba_city_encoded = combined_data_encoded[combined_data_encoded["Player"] == nba_player][[col for col in combined_data_encoded.columns if col.startswith("City_")]].values[0]
    
    wnba_candidates = combined_data_encoded[(combined_data_encoded["League_WNBA"] == 1)]
    wnba_candidates['City_Match'] = wnba_candidates[[col for col in combined_data_encoded.columns if col.startswith("City_")]].apply(
        lambda x: int(any(x == nba_city_encoded)), axis=1)
    
    if "Starter" in wnba_candidates.columns:
        wnba_candidates = wnba_candidates.sort_values(by=["Starter", "City_Match", "PER"], ascending=[False, False, False])
    else:
        wnba_candidates = wnba_candidates.sort_values(by=["City_Match", "PER"], ascending=[False, False])
    
    similar_wnba_players = nba_to_wnba_similarity.loc[nba_player, wnba_candidates["Player"]].sort_values(ascending=False).head(top_n)

    team_columns = [col for col in combined_data_encoded.columns if col.startswith("Team Name_")]
    city_columns = [col for col in combined_data_encoded.columns if col.startswith("City_")]

    wnba_candidates = combined_data_encoded[combined_data_encoded["Player"].isin(similar_wnba_players.index)].copy()
    wnba_candidates['Team'] = wnba_candidates[team_columns].idxmax(axis=1).str.replace("Team Name_", "")
    wnba_candidates['City'] = wnba_candidates[city_columns].idxmax(axis=1).str.replace("City_", "")

    return wnba_candidates[["Player", "Team", "City"]].drop_duplicates()

# Streamlit interface
st.title("WNBA Recommender System")

# Input section for NBA player/team
favorite_nba_player = st.text_input("Enter your favorite NBA player:")
favorite_nba_team = st.text_input("Or enter your favorite NBA team:")

# Process the input and generate recommendation
if favorite_nba_player:
    wnba_recommendations = recommend_wnba_players(favorite_nba_player, top_n=3)
    st.subheader(f"Recommended WNBA Players for {favorite_nba_player}")
    st.write(wnba_recommendations)
elif favorite_nba_team:
    # You could implement a similar logic for NBA teams
    st.write(f"Recommendations for WNBA players from {favorite_nba_team} team coming soon!")
else:
    st.write("Please enter a favorite NBA player or team to get recommendations.")

2025-04-07 19:50:10.665 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 19:50:11.004
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\lai29\AppData\Roaming\Python\Python313\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-04-07 19:50:11.006 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 19:50:11.008 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 19:50:11.009 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 19:50:11.010 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 19:50:11.012 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 19:50:11.013 Session state does not function when running a script without `streamlit run`
2025-04-07 19:50:11.014 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 19:50:11.015 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 19:50:11.015 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 19:50:11.016 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 19:50:11.017 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 19:50:11.017 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 19:50:11.018 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 19:50:11.019 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 19:50:11.020 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 19:50:11.021 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 19:50:11.022 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 19:50:11.023 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [ ]:
streamlit run app.py

SyntaxError: invalid syntax (3737097518.py, line 1)

In [56]:
# recommender_utils.py

import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.cluster import KMeans
from sklearn.metrics.pairwise import cosine_similarity

def calculate_per(data):
    data["PER"] = (
        (data["PTS"] + data["AST"] * 1.5 + data["TRB"] * 1.2 + data["STL"] * 1.5 + data["BLK"] * 1.5) /
        (data["MP"] + 1)
    ) * 15
    return data

def preprocess_data(data):
    stat_weights = {
        "G": {"AST": 1.5, "3P": 1.2, "STL": 1.2, "TRB": 0.8, "BLK": 0.8},
        "F": {"TRB": 1.3, "BLK": 1.1, "AST": 1.1, "3P": 1.0},
        "C": {"TRB": 1.5, "BLK": 1.3, "AST": 0.7, "3P": 0.5},
    }

    def apply_weights(row):
        for pos, weights in stat_weights.items():
            if row.get(f"Pos_{pos}", 0) == 1:
                for stat, weight in weights.items():
                    if stat in row:
                        row[stat] *= weight
        return row

    data = data.copy().apply(apply_weights, axis=1)
    feature_cols = ['PTS', 'AST', 'TRB', 'STL', 'BLK', '3P', 'PER']
    scaler = StandardScaler()
    data[feature_cols] = scaler.fit_transform(data[feature_cols])
    return data, feature_cols

def cluster_players(data, feature_cols, n_clusters=5):
    kmeans = KMeans(n_clusters=n_clusters, random_state=42, n_init=10)
    data["Playstyle_Cluster"] = kmeans.fit_predict(data[feature_cols])
    return data

def build_similarity_matrix(data, feature_cols):
    return pd.DataFrame(
        cosine_similarity(data[feature_cols]),
        index=data["Player"],
        columns=data["Player"]
    )

def recommend_wnba_players(nba_player, combined_data_encoded, similarity_matrix, top_n=5):
    if nba_player not in combined_data_encoded["Player"].values:
        return "Player not found in dataset."

    nba_cluster = combined_data_encoded.loc[combined_data_encoded["Player"] == nba_player, "Playstyle_Cluster"].values[0]
    nba_city_encoded = combined_data_encoded[combined_data_encoded["Player"] == nba_player][[col for col in combined_data_encoded.columns if col.startswith("City_")]].values[0]

    wnba_candidates = combined_data_encoded[combined_data_encoded["League_WNBA"] == 1].copy()
    wnba_candidates['City_Match'] = wnba_candidates[[col for col in combined_data_encoded.columns if col.startswith("City_")]].apply(
        lambda x: int(any(x == nba_city_encoded)), axis=1)

    if "Starter" in wnba_candidates.columns:
        wnba_candidates = wnba_candidates.sort_values(by=["Starter", "City_Match", "PER"], ascending=[False, False, False])
    else:
        wnba_candidates = wnba_candidates.sort_values(by=["City_Match", "PER"], ascending=[False, False])

    similar_wnba_players = similarity_matrix.loc[nba_player, wnba_candidates["Player"]].sort_values(ascending=False).head(top_n)

    team_columns = [col for col in combined_data_encoded.columns if col.startswith("Team Name_")]
    city_columns = [col for col in combined_data_encoded.columns if col.startswith("City_")]

    wnba_candidates = combined_data_encoded[combined_data_encoded["Player"].isin(similar_wnba_players.index)].copy()
    wnba_candidates['Team'] = wnba_candidates[team_columns].idxmax(axis=1).str.replace("Team Name_", "")
    wnba_candidates['City'] = wnba_candidates[city_columns].idxmax(axis=1).str.replace("City_", "")

    return wnba_candidates[["Player", "Team", "City"]].drop_duplicates()

In [59]:
# app.py

import streamlit as st
import pandas as pd
from recommender_utils import (
    calculate_per, preprocess_data, cluster_players,
    build_similarity_matrix, recommend_wnba_players
)

@st.cache_data
def load_and_prepare_data():
    data = pd.read_csv("combined_data_encoded.csv")
    data = calculate_per(data)
    data, feature_cols = preprocess_data(data)
    data = cluster_players(data, feature_cols)
    similarity_matrix = build_similarity_matrix(data, feature_cols)
    return data, similarity_matrix

# Load processed data
combined_data_encoded, similarity_matrix = load_and_prepare_data()

# UI
st.title("🏀 WNBA Player Recommender")
st.write("Enter your favorite NBA player and get WNBA recommendations!")

player_input = st.text_input("Favorite NBA Player:", "")

if player_input:
    result = recommend_wnba_players(player_input, combined_data_encoded, similarity_matrix)
    if isinstance(result, str):
        st.warning(result)
    else:
        st.success("Here are your WNBA recommendations:")
        st.dataframe(result)

2025-04-07 22:20:37.351 No runtime found, using MemoryCacheStorageManager
2025-04-07 22:20:37.352 No runtime found, using MemoryCacheStorageManager
2025-04-07 22:20:37.354 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 22:20:37.355 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 22:20:37.356 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 22:20:37.873 Thread 'Thread-13': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 22:20:37.897 Thread 'Thread-13': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 22:20:37.898 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 22:20:37.900 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 22:20:37.911 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 22:20:37.912 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 22:20:37.913 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 22:20:37.914 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 22:20:37.916 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 22:20:37.917 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 22:20:37.918 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 22:20:37.919 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 22:20:37.921 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 22:20:37.923 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 22:20:37.926 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-07 22:20:37.927 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [60]:
def recommend_wnba_players_by_input(user_input, data, sim_matrix, mode, top_n=5):
    if mode == "NBA Player":
        nba_subset = data[(data["League_NBA"] == 1) & (data["Player"].str.lower() == user_input.lower())]
    elif mode == "NBA Team":
        team_cols = [col for col in data.columns if col.startswith("Team Name_")]
        nba_subset = data[(data["League_NBA"] == 1) & (
            data[team_cols].idxmax(axis=1).str.replace("Team Name_", "").str.lower() == user_input.lower()
        )]
    elif mode == "City":
        city_cols = [col for col in data.columns if col.startswith("City_")]
        nba_subset = data[(data["League_NBA"] == 1) & (
            data[city_cols].idxmax(axis=1).str.replace("City_", "").str.lower() == user_input.lower()
        )]
    else:
        return "Invalid search mode."

    if nba_subset.empty:
        return f"No NBA records found for {mode.lower()} '{user_input}'. Please check spelling."

    nba_city_vec = nba_subset[[col for col in data.columns if col.startswith("City_")]].values[0]
    nba_cluster = nba_subset["Playstyle_Cluster"].values[0]
    nba_player = nba_subset["Player"].values[0]

    wnba_candidates = data[data["League_WNBA"] == 1].copy()
    wnba_candidates["City_Match"] = wnba_candidates[[col for col in data.columns if col.startswith("City_")]].apply(
        lambda x: int(any(x == nba_city_vec)), axis=1
    )

    if "Starter" in wnba_candidates.columns:
        wnba_candidates = wnba_candidates.sort_values(by=["Starter", "City_Match", "PER"], ascending=[False, False, False])
    else:
        wnba_candidates = wnba_candidates.sort_values(by=["City_Match", "PER"], ascending=[False, False])

    top_players = sim_matrix.loc[nba_player, wnba_candidates["Player"]].sort_values(ascending=False).head(top_n)

    team_cols = [col for col in data.columns if col.startswith("Team Name_")]
    city_cols = [col for col in data.columns if col.startswith("City_")]

    recs = data[data["Player"].isin(top_players.index)].copy()
    recs["Team"] = recs[team_cols].idxmax(axis=1).str.replace("Team Name_", "")
    recs["City"] = recs[city_cols].idxmax(axis=1).str.replace("City_", "")

    return recs[["Player", "Team", "City"]].drop_duplicates()

In [ ]:
# app.py

import streamlit as st
import pandas as pd
from recommender_utils import (
    calculate_per, preprocess_data, cluster_players,
    build_similarity_matrix, recommend_wnba_players_by_input
)

@st.cache_data
def load_and_prepare_data():
    data = pd.read_csv("combined_data_encoded.csv")
    data = calculate_per(data)
    data, feature_cols = preprocess_data(data)
    data = cluster_players(data, feature_cols)
    similarity_matrix = build_similarity_matrix(data, feature_cols)
    return data, similarity_matrix

# Load data
combined_data_encoded, similarity_matrix = load_and_prepare_data()

# App UI
st.title("🏀 WNBA Player Recommender")
st.write("Get a WNBA player recommendation based on your NBA preferences!")

search_mode = st.selectbox("Recommend based on:", ["NBA Player", "NBA Team", "City"])

if search_mode == "NBA Player":
    user_input = st.text_input("Enter your favorite NBA player:")
elif search_mode == "NBA Team":
    user_input = st.text_input("Enter your favorite NBA team:")
else:
    user_input = st.text_input("Enter your city:")

if user_input:
    recommendations = recommend_wnba_players_by_input(
        user_input, combined_data_encoded, similarity_matrix, search_mode
    )
    if isinstance(recommendations, str):
        st.warning(recommendations)
    else:
        st.success("Recommended WNBA Players:")
        st.dataframe(recommendations)

ImportError: cannot import name 'recommend_wnba_players_by_input' from 'recommender_utils' (c:\Users\lai29\OneDrive - UBC\Documents\Final-Project\recommender_utils.py)